.gate-out {
  display: flex;
  width: 1280px;
  min-height: 1144px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 0px 256px;
  position: relative;
  background-color: #f9f9fd;
}

.gate-out .main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 32px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.gate-out .div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .text {
  position: relative;
  display: flex;
  align-items: center;
  width: 297.25px;
  height: 36px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 30px;
  letter-spacing: -0.75px;
  line-height: 36px;
  white-space: nowrap;
}

.gate-out .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 233.14px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.gate-out .container-2 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .background {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3f3f7;
  border-radius: 9999px;
}

.gate-out .background-2 {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #006a6a;
  border-radius: 9999px;
}

.gate-out .text-2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 92.72px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #006a6a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .img {
  position: relative;
  flex: 0 0 auto;
}

.gate-out .main-content-area {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 971.50px;
  height: fit-content;
  gap: 32px;
}

.gate-out .left-side-scanning {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 9;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 0px 160.5px;
}

.gate-out .bento-grid-for {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 431px;
  height: fit-content;
  gap: 24px;
}

.gate-out .plate-upload {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 12px;
}

.gate-out .div-2 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  box-shadow: 0px 1px 2px #0000000d, 0px 0px 0px 1px #c3c6d61a;
  width: 100%;
  border-radius: 12px;
}

.gate-out .heading {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.6;
}

.gate-out .text-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 138.56px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 12px;
  letter-spacing: -0.30px;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .icon {
  position: relative;
  width: 20px;
  height: 18px;
}

.gate-out .background-border {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 256px;
  background-color: #f3f3f7;
  border-radius: 8px;
  overflow: hidden;
  border: 2px dashed;
  border-color: #c3c6d64c;
}

.gate-out .license-plate {
  position: relative;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  opacity: 0.8;
  background-image: url(./img/license-plate.png);
  background-size: cover;
  background-position: 50% 50%;
}

.gate-out .background-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .background-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5px;
  padding: 12px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #f3f3f7;
  border-radius: 8px;
}

.gate-out .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 10px;
  letter-spacing: 1.00px;
  line-height: 15px;
}

.gate-out .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 231px;
  height: 28px;
  margin-right: -0.33px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 20px;
  letter-spacing: -1.00px;
  line-height: 28px;
  white-space: nowrap;
}

.gate-out .QR-upload {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 12px;
}

.gate-out .text-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 105.27px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 12px;
  letter-spacing: -0.30px;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .icon-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.gate-out .container-wrapper {
  display: flex;
  height: 256px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f3f3f7;
  border-radius: 8px;
  overflow: hidden;
  border: 2px dashed;
  border-color: #c3c6d64c;
}

.gate-out .container-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .icon-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .icon-3 {
  position: relative;
  width: 33px;
  height: 30px;
}

.gate-out .container-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 2.49px 0px 2.48px;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .p {
  position: relative;
  width: 197.7px;
  height: 40px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.gate-out .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 172px;
  height: 28px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 20px;
  letter-spacing: -1.00px;
  line-height: 28px;
  white-space: nowrap;
}

.gate-out .verification-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
}

.gate-out .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 18px;
  letter-spacing: -0.45px;
  line-height: 28px;
}

.gate-out .container-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .background-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f9f9fd;
  border-radius: 8px;
}

.gate-out .overlay {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #0040a11a;
  border-radius: 9999px;
}

.gate-out .icon-4 {
  position: relative;
  width: 18px;
  height: 18px;
}

.gate-out .text-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: 108.64px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .text-6 {
  position: relative;
  display: flex;
  align-items: center;
  width: 201.11px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .container-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .overlay-2 {
  display: inline-flex;
  gap: 4px;
  padding: 4px 12px;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  background-color: #006a6a1a;
  border-radius: 9999px;
}

.gate-out .icon-5 {
  position: relative;
  width: 10px;
  height: 10px;
}

.gate-out .text-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60.03px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #006a6a;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .icon-6 {
  position: relative;
  width: 16px;
  height: 16px;
}

.gate-out .text-8 {
  position: relative;
  display: flex;
  align-items: center;
  width: 110px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .text-9 {
  position: relative;
  display: flex;
  align-items: center;
  width: 192.42px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .icon-7 {
  position: relative;
  width: 20px;
  height: 16px;
}

.gate-out .text-10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 72.17px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .text-11 {
  position: relative;
  display: flex;
  align-items: center;
  width: 182.36px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .right-side-action {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 9 / 13;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.gate-out .status-decision-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #ffffff;
  width: 100%;
  border-radius: 12px;
}

.gate-out .status-decision-card-2 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  box-shadow: 0px 8px 10px -6px #0040a10d, 0px 20px 25px -5px #0040a10d, 0px 0px
    0px 1px #c3c6d633;
  width: 100%;
  border-radius: 12px;
}

.gate-out .container-7 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 192px;
}

.gate-out .overlay-3 {
  display: flex;
  width: 96px;
  height: 96px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: calc(50.00% - 48px);
  align-items: center;
  background-color: #006a6a1a;
  border-radius: 9999px;
}

.gate-out .img-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .icon-8 {
  position: relative;
  width: 32px;
  height: 40px;
}

.gate-out .heading-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 112px;
  left: 0;
}

.gate-out .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #191c1e;
  font-size: 24px;
  text-align: center;
  letter-spacing: -1.20px;
  line-height: 32px;
  white-space: nowrap;
}

.gate-out .container-8 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 144px;
  left: 0;
}

.gate-out .text-12 {
  position: relative;
  width: 160.65px;
  height: 48px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.gate-out .container-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .parking-fee-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f3f7;
  border-radius: 12px;
  border: 1px solid;
  border-color: #c3c6d64c;
}

.gate-out .container-10 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .container-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 5.02px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .text-13 {
  position: relative;
  width: 110.61px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 1.20px;
  line-height: 16px;
}

.gate-out .container-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16.83px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.01px;
}

.gate-out .text-14 {
  position: relative;
  width: 60.22px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #006a6a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.gate-out .paragraph {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 49px;
}

.gate-out .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 40px;
  display: flex;
  align-items: center;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 36px;
  letter-spacing: -1.80px;
  line-height: 40px;
  white-space: nowrap;
}

.gate-out .text-15 {
  position: absolute;
  top: 13px;
  left: 154px;
  width: 38px;
  height: 28px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 18px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.gate-out .horizontal-border {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #c3c6d64c;
}

.gate-out .container-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.gate-out .text-16 {
  position: relative;
  display: flex;
  align-items: center;
  width: 88.64px;
  height: 17px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16.5px;
  white-space: nowrap;
}

.gate-out .text-17 {
  position: relative;
  display: flex;
  align-items: center;
  width: 94.06px;
  height: 17px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16.5px;
  white-space: nowrap;
}

.gate-out .decision-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #006a6a0d;
  border-radius: 12px;
  border: 2px solid;
  border-color: #006a6a33;
}

.gate-out .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 149.73px;
  height: 36px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #006a6a;
  font-size: 30px;
  text-align: center;
  letter-spacing: 6.00px;
  line-height: 36px;
  white-space: nowrap;
}

.gate-out .button-main-CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px 0px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background: linear-gradient(
    171deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
  width: 100%;
  border-radius: 12px;
}

.gate-out .button-main-CTA-2 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  box-shadow: 0px 4px 6px -4px #0040a133, 0px 10px 15px -3px #0040a133;
  width: 100%;
  border-radius: 12px;
}

.gate-out .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 28px;
  margin-top: -1.00px;
  margin-left: -5.17px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.gate-out .container-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-right: -5.17px;
}

.gate-out .icon-9 {
  position: relative;
  width: 20px;
  height: 14px;
}

.gate-out .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ba1a1a0d;
  border-radius: 12px;
  border: 1px solid;
  border-color: #ba1a1a33;
}

.gate-out .text-18 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92.91px;
  height: 24px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ba1a1a;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.gate-out .meta-data {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 59px;
  height: fit-content;
  gap: 16px;
}

.gate-out .background-5 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5px;
  padding: 12px;
  background-color: #f9f9fd;
  border-radius: 8px;
}

.gate-out .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
}

.gate-out .text-19 {
  position: relative;
  display: flex;
  align-items: center;
  width: 97.67px;
  height: 16px;
  margin-right: -12.34px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .background-6 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5px;
  padding: 12px;
  background-color: #f9f9fd;
  border-radius: 8px;
}

.gate-out .text-20 {
  position: relative;
  display: flex;
  align-items: center;
  width: 48.3px;
  height: 16px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-out .quick-actions {
  display: flex;
  align-items: flex-start;
  gap: 15.99px;
  padding: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffdbcf;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #8228001a;
}

.gate-out .icon-10 {
  position: relative;
  width: 22px;
  height: 19px;
}

.gate-out .text-21 {
  position: relative;
  display: flex;
  align-items: center;
  width: 95.91px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #380d00;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .container-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  opacity: 0.8;
}

.gate-out .text-22 {
  position: relative;
  width: 204.36px;
  height: 78px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #380d00;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.gate-out .aside-sidenavbar {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 1144px;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f7;
}

.gate-out .margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .container-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 24px;
  letter-spacing: -1.20px;
  line-height: 32px;
}

.gate-out .guard-terminal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  opacity: 0.7;
}

.gate-out .guard-terminal {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 12px;
  letter-spacing: 1.20px;
  line-height: 16px;
}

.gate-out .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.gate-out .link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
}

.gate-out .text-23 {
  position: relative;
  display: flex;
  align-items: center;
  width: 73.02px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .text-24 {
  position: relative;
  display: flex;
  align-items: center;
  width: 47.25px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .link-css-transform {
  display: flex;
  flex-direction: column;
  width: 224px;
  align-items: flex-start;
  padding: 0px 0px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .link-2 {
  width: 224px;
  padding: 12px 16px;
  margin-right: -4.00px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #0000000d;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .icon-11 {
  position: relative;
  width: 22px;
  height: 16px;
}

.gate-out .text-25 {
  position: relative;
  display: flex;
  align-items: center;
  width: 58.92px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0040a1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .text-26 {
  position: relative;
  display: flex;
  align-items: center;
  width: 48.27px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .horizontal-border-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 16px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #c3c6d633;
}

.gate-out .button-margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-out .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  background: linear-gradient(
    174deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
}

.gate-out .button-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -4px #0040a133, 0px 10px 15px -3px #0040a133;
}

.gate-out .icon-12 {
  position: relative;
  width: 11.67px;
  height: 11.67px;
}

.gate-out .text-27 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79.98px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.gate-out .link-3 {
  padding: 8px 16px;
  align-self: stretch;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.gate-out .icon-13 {
  position: relative;
  width: 20.1px;
  height: 20px;
}

.gate-out .text-28 {
  position: relative;
  display: flex;
  align-items: center;
  width: 53.95px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-out .text-29 {
  position: relative;
  display: flex;
  align-items: center;
  width: 46.16px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ba1a1a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}
