.gate-in {
  display: flex;
  width: 1280px;
  min-height: 1024px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 0px 256px;
  position: relative;
  background-color: #f9f9fd;
}

.gate-in .main-content-area {
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.gate-in .header-topnavbar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  z-index: 1;
  background-color: #ffffffcc;
  box-shadow: 0px 1px 2px #0000000d;
  backdrop-filter: blur(6px) brightness(100%);
  -webkit-backdrop-filter: blur(6px) brightness(100%);
}

.gate-in .container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .text {
  position: relative;
  display: flex;
  align-items: center;
  width: 154.3px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 18px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.gate-in .background {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #90efef;
  border-radius: 9999px;
}

.gate-in .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 43.47px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #006e6e;
  font-size: 10px;
  letter-spacing: 1.00px;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .container-2 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .icon {
  position: relative;
  width: 13.33px;
  height: 16.67px;
}

.gate-in .vertical-divider {
  position: relative;
  width: 1px;
  height: 32px;
  background-color: #c3c6d64c;
}

.gate-in .container-3 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 91.56px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 74.45px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 10px;
  text-align: right;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .img {
  position: relative;
  width: 25px;
  height: 25px;
}

.gate-in .content-canvas {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  z-index: 0;
}

.gate-in .page-header-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .container-4 {
  display: flex;
  flex-direction: column;
  width: 685px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.gate-in .div-wrapper-2 {
  display: flex;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  height: 36px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 30px;
  letter-spacing: -0.75px;
  line-height: 36px;
  white-space: nowrap;
}

.gate-in .p {
  position: relative;
  display: flex;
  align-items: center;
  width: 571px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.gate-in .text-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 62.02px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.gate-in .text-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 73.3px;
  height: 16px;
  margin-top: -0.5px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 12px;
  text-align: right;
  letter-spacing: -0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .main-interactive {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 513px;
  height: fit-content;
  gap: 32px;
}

.gate-in .left-upload-vision {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 0px 122.02px;
}

.gate-in .background-shadow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 1px 2px #0000000d;
}

.gate-in .background-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 38.48px 0px 38.5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #edeef1;
  border-radius: 8px;
  border: 2px dashed;
  border-color: #c3c6d6;
  aspect-ratio: 1.78;
}

.gate-in .div-2 {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  border-radius: 8px;
  opacity: 0.4;
  background-image: url(./img/ab6axuddvgiocf4a3vjov-wvezaakfr9ooudyx5qnfayzczbhry4kyqq73evbcdigj4rqgk81lqyvivyb6nh-5zndj6zqnscnefqu6xw8-a6soo0m2te2n4r3l0xcidxq-z7ccxt9lpg9sfxr-ybia68c43fkyuxhmwt9fyx6c0viwv0z3ls5xzqi2hrxyioeiwa03ujbo3j1aaeneqzyejvui4fntshdufnho-fapy1ng0gbxbw-qfnvnterqpkcfngslbde6szpgfaol0d.png);
  background-size: cover;
  background-position: 50% 50%;
}

.gate-in .container-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .margin {
  display: flex;
  flex-direction: column;
  width: 64px;
  height: 80px;
  align-items: flex-start;
  padding: 0px 0px 16px;
  position: relative;
}

.gate-in .background-2 {
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 9999px;
}

.gate-in .overlay-shadow {
  position: absolute;
  top: 0;
  left: calc(50.00% - 32px);
  width: 64px;
  height: 64px;
  background-color: #ffffff01;
  border-radius: 9999px;
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
}

.gate-in .icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .icon-2 {
  position: relative;
  width: 33px;
  height: 24px;
}

.gate-in .heading-upload {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187.66px;
  height: 28px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.gate-in .container-wrapper {
  display: inline-flex;
  max-width: 320px;
  padding: 8px 0px 0px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .container-6 {
  display: inline-flex;
  flex-direction: column;
  max-width: 320px;
  align-items: center;
  padding: 0px 9.55px 0px 9.53px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .text-5 {
  position: relative;
  width: 300.92px;
  height: 40px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.gate-in .button-margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #c3c6d6;
  box-shadow: 0px 1px 2px #0000000d;
}

.gate-in .text-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70.47px;
  height: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .container-7 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .button-2 {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 16px 0px;
  flex: 1;
  flex-grow: 1;
  border-radius: 12px;
  background: linear-gradient(
    176deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
  align-items: center;
  position: relative;
}

.gate-in .button-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  border-radius: 12px;
  box-shadow: 0px 4px 6px -4px #0040a133, 0px 10px 15px -3px #0040a133;
}

.gate-in .icon-3 {
  position: relative;
  width: 20px;
  height: 22px;
}

.gate-in .text-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189.91px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.gate-in .button-3 {
  display: inline-flex;
  justify-content: center;
  padding: 16px 24px;
  flex: 0 0 auto;
  background-color: #e7e8eb;
  border-radius: 12px;
  align-items: center;
  position: relative;
}

.gate-in .icon-4 {
  position: relative;
  width: 16px;
  height: 16px;
}

.gate-in .right-results-status {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 8 / 13;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #0000000d;
}

.gate-in .horizontal-border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #c3c6d61a;
}

.gate-in .text-8 {
  position: relative;
  display: flex;
  align-items: center;
  width: 164.27px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.gate-in .overlay {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0040a11a;
  border-radius: 9999px;
}

.gate-in .text-9 {
  position: relative;
  display: flex;
  align-items: center;
  width: 70.09px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .container-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .OCR-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f3f7;
  border-radius: 8px;
}

.gate-in .container-9 {
  display: flex;
  flex-direction: column;
  width: 166px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.gate-in .text-10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 112.66px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  letter-spacing: 1.00px;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .container-10 {
  display: flex;
  flex-direction: column;
  width: 193px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  margin-right: -27.00px;
}

.gate-in .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 188px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 24px;
  letter-spacing: 2.40px;
  line-height: 32px;
  white-space: nowrap;
}

.gate-in .container-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .tin-c-y {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 69.33px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  text-align: right;
  letter-spacing: 1.00px;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .container-12 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .background-wrapper {
  position: relative;
  width: 64px;
  height: 8px;
  background-color: #c3c6d6;
  border-radius: 9999px;
  overflow: hidden;
}

.gate-in .background-3 {
  width: 98.00%;
  height: 100%;
  background-color: #006a6a;
}

.gate-in .container-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .text-11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45.44px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #006a6a;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .background-4 {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #edeef1;
  border-radius: 8px;
}

.gate-in .horizontal-border-2 {
  padding: 0px 0px 12px;
  flex: 1;
  flex-grow: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #c3c6d61a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.gate-in .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  letter-spacing: 1.00px;
  line-height: 15px;
}

.gate-in .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.gate-in .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.gate-in .icon-5 {
  position: relative;
  width: 18px;
  height: 16px;
}

.gate-in .container-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.gate-in .status-alert-dynamic {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 28px 20px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #006a6a1a;
  border-radius: 12px;
  border: 1px solid;
  border-color: #006a6a33;
}

.gate-in .background-5 {
  display: flex;
  width: 43.16px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #006a6a;
  border-radius: 9999px;
}

.gate-in .icon-6 {
  position: relative;
  width: 20px;
  height: 20px;
}

.gate-in .text-12 {
  position: relative;
  display: flex;
  align-items: center;
  width: 116.58px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #006a6a;
  font-size: 12px;
  letter-spacing: 1.20px;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .OPEN-BARRIER {
  position: relative;
  width: 116px;
  height: 56px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #006a6a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.gate-in .button-4 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  flex: 0 0 auto;
  background-color: #006a6a;
  border-radius: 8px;
  align-items: center;
  position: relative;
}

.gate-in .button-shadow-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  border-radius: 8px;
  box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
}

.gate-in .text-13 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55.73px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .container-15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1.14e-13px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .text-14 {
  position: relative;
  display: flex;
  align-items: center;
  width: 209.23px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.gate-in .button-5 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  gap: 4px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.gate-in .text-15 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87.64px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .icon-7 {
  position: relative;
  width: 9.33px;
  height: 9.33px;
}

.gate-in .container-16 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 101px;
  height: fit-content;
  gap: 16px;
}

.gate-in .log-item {
  grid-column: 1 / 2;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  background-color: #f3f3f7;
  border-radius: 12px;
  border: 1px solid;
  border-color: transparent;
}

.gate-in .container-17 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .container-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.gate-in .text-16 {
  position: relative;
  display: flex;
  align-items: center;
  width: 46.09px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .text-17 {
  position: relative;
  display: flex;
  align-items: center;
  width: 47.84px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #006a6a;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .container-19 {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .paragraph-background {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  align-items: flex-start;
  justify-content: center;
  padding: 3.5px 0px 4.5px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #0000000d;
}

.gate-in .text-18 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.58px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-19 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.86px;
  height: 16px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-20 {
  position: relative;
  display: flex;
  align-items: center;
  width: 67.66px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .text-21 {
  position: relative;
  display: flex;
  align-items: center;
  width: 61.22px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .log-item-2 {
  grid-column: 2 / 3;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  background-color: #f3f3f7;
  border-radius: 12px;
  border: 1px solid;
  border-color: transparent;
}

.gate-in .text-22 {
  position: relative;
  display: flex;
  align-items: center;
  width: 45.34px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .text-23 {
  position: relative;
  display: flex;
  align-items: center;
  width: 37.03px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ba1a1a;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .text-24 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27.42px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-25 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.22px;
  height: 16px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-26 {
  position: relative;
  display: flex;
  align-items: center;
  width: 92.33px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .text-27 {
  position: relative;
  display: flex;
  align-items: center;
  width: 83.03px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .log-item-3 {
  grid-column: 3 / 4;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  background-color: #f3f3f7;
  border-radius: 12px;
  border: 1px solid;
  border-color: transparent;
}

.gate-in .container-20 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 2.84e-14px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .text-28 {
  position: relative;
  display: flex;
  align-items: center;
  width: 43.13px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .text-29 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27.22px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-30 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.8px;
  height: 16px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  width: 58.22px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  width: 73.09px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .log-item-4 {
  grid-column: 4 / 5;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  background-color: #f3f3f7;
  border-radius: 12px;
  border: 1px solid;
  border-color: transparent;
}

.gate-in .text-31 {
  position: relative;
  display: flex;
  align-items: center;
  width: 45.63px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.gate-in .text-32 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27.09px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-33 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.97px;
  height: 16px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .text-34 {
  position: relative;
  display: flex;
  align-items: center;
  width: 74.92px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 76.48px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.gate-in .aside-sidenavbar {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 1024px;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f7;
}

.gate-in .margin-2 {
  display: flex;
  padding: 0px 0px 32px;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .container-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 24px;
  letter-spacing: -1.20px;
  line-height: 32px;
}

.gate-in .guard-terminal {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.30px;
  line-height: 16px;
}

.gate-in .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.gate-in .link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
}

.gate-in .icon-8 {
  position: relative;
  width: 18px;
  height: 18px;
}

.gate-in .text-35 {
  position: relative;
  display: flex;
  align-items: center;
  width: 73.02px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .link-css-transform {
  display: flex;
  flex-direction: column;
  width: 224px;
  align-items: flex-start;
  padding: 0px 0px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.gate-in .link-2 {
  width: 224px;
  padding: 12px 16px;
  margin-right: -4.00px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px #0000000d;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.gate-in .text-36 {
  position: relative;
  display: flex;
  align-items: center;
  width: 47.25px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0040a1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .icon-9 {
  position: relative;
  width: 22px;
  height: 16px;
}

.gate-in .text-37 {
  position: relative;
  display: flex;
  align-items: center;
  width: 58.92px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .text-38 {
  position: relative;
  display: flex;
  align-items: center;
  width: 48.27px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .horizontal-border-3 {
  gap: 4px;
  padding: 16px 0px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #c3c6d633;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.gate-in .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.gate-in .button-6 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #0040a1;
  border-radius: 8px;
  align-items: center;
  position: relative;
}

.gate-in .text-39 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70.73px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .link-3 {
  padding: 8px 16px;
  align-self: stretch;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.gate-in .icon-10 {
  position: relative;
  width: 20.1px;
  height: 20px;
}

.gate-in .text-40 {
  position: relative;
  display: flex;
  align-items: center;
  width: 53.95px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .text-41 {
  position: relative;
  display: flex;
  align-items: center;
  width: 46.16px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.gate-in .button-contextual {
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 32px;
  bottom: 32px;
  border-radius: 9999px;
  box-shadow: 0px 12px 32px #0040a133;
  background: linear-gradient(
    145deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
}

.gate-in .icon-11 {
  position: relative;
  width: 17.5px;
  height: 17.5px;
}
