.history {
  display: flex;
  width: 1280px;
  min-height: 1117px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 0px 256px;
  position: relative;
  background-color: #f9f9fd;
}

.history .aside-sidenavbar {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 1117px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8fafc;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #e2e8f0;
}

.history .margin {
  padding: 0px 24px 32px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .container {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .background {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #0040a1;
  border-radius: 8px;
}

.history .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.history .icon {
  position: relative;
  width: 18px;
  height: 16px;
}

.history .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 107.8px;
  height: 18px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1e3a8a;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.history .text {
  position: relative;
  display: flex;
  align-items: center;
  width: 87px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.history .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 0px 8px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.history .link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
}

.history .img {
  position: relative;
  width: 18px;
  height: 18px;
}

.history .text-2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 73.02px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .text-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 56.72px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .icon-2 {
  position: relative;
  width: 20px;
  height: 18px;
}

.history .text-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 76.34px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .link-2 {
  background-color: #eff6ff;
  box-shadow: 0px 1px 2px #0000000d;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
}

.history .text-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: 49.14px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d4ed8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .icon-3 {
  position: relative;
  width: 22px;
  height: 16px;
}

.history .text-6 {
  position: relative;
  display: flex;
  align-items: center;
  width: 39.09px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .icon-4 {
  position: relative;
  width: 20.1px;
  height: 20px;
}

.history .text-7 {
  position: relative;
  display: flex;
  align-items: center;
  width: 54.92px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .text-8 {
  position: relative;
  display: flex;
  align-items: center;
  width: 46.7px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ba1a1a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .main-canvas {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  min-height: 1117px;
  background-color: #f9f9fd;
}

.history .content-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  position: absolute;
  top: 84px;
  left: 0;
}

.history .filters-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 12px 32px #0040a10a;
}

.history .container-3 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 64px;
  height: fit-content;
  gap: 24px;
}

.history .container-4 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.history .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
}

.history .input {
  padding: 11px 16px 12px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f3f7;
  border-radius: 8px;
  overflow: hidden;
}

.history .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.history .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #737785;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.history .icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 70.00%;
  align-items: flex-start;
  position: absolute;
  top: 15.00%;
  left: 12px;
}

.history .icon-5 {
  position: relative;
  width: 13.5px;
  height: 13.5px;
}

.history .container-5 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.history .container-wrapper {
  padding: 10px 16px 10px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f3f7;
  border-radius: 8px;
  overflow: hidden;
}

.history .container-6 {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.history .paragraph-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.history .paragraph {
  display: inline-flex;
  align-items: flex-start;
  gap: 1px;
  padding: 0px 1.01px 0px 1px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.history .spinbutton-month-mm {
  position: relative;
  display: flex;
  align-items: center;
  width: 24.53px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .text-9 {
  position: relative;
  display: flex;
  align-items: center;
  width: 5.05px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .spinbutton-day-dd {
  position: relative;
  display: flex;
  align-items: center;
  width: 17.16px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .spinbutton-year-yyyy {
  position: relative;
  display: flex;
  align-items: center;
  width: 31.48px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .button-menu {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 18px;
  align-items: flex-start;
  position: relative;
}

.history .image-fill {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 18px;
  align-items: flex-start;
  padding: 2px 2px 2.88px;
  position: relative;
}

.history .SVG {
  position: relative;
  width: 14px;
  height: 13.12px;
}

.history .icon-6 {
  position: relative;
  width: 13.5px;
  height: 15px;
}

.history .container-7 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.history .options {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 40px;
  background-color: #f3f3f7;
  border-radius: 8px;
}

.history .SVG-wrapper {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 40px;
  align-items: flex-start;
  justify-content: center;
  padding: 9.5px 8px 9.5px 181px;
  position: absolute;
  top: 0;
  left: 0;
}

.history .vector-wrapper {
  position: relative;
  width: 21px;
  height: 21px;
}

.history .vector {
  position: absolute;
  width: 73.75%;
  height: 63.75%;
  top: 36.25%;
  left: 26.25%;
}

.history .container-8 {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  align-items: flex-start;
  position: absolute;
  top: calc(50.00% - 10px);
  left: 16px;
}

.history .text-10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 107.84px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .button-wrapper {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.history .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #006a6a;
  border-radius: 8px;
}

.history .img-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.history .icon-7 {
  position: relative;
  width: 18px;
  height: 12px;
}

.history .text-11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116.28px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.history .data-table-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 12px 32px #0040a10a;
}

.history .header-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #e7e8eb;
}

.history .cell {
  width: 93.03px;
  padding: 23.5px 24px 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-12 {
  position: relative;
  display: flex;
  align-items: center;
  width: 13.2px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .div-wrapper-2 {
  width: 109.78px;
  padding: 23.5px 24px 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-13 {
  position: relative;
  display: flex;
  align-items: center;
  width: 51.88px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .cell-2 {
  width: 115.23px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-14 {
  position: relative;
  width: 56.22px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
}

.history .cell-3 {
  width: 128.75px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-15 {
  position: relative;
  width: 68.06px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
}

.history .cell-4 {
  width: 128.52px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .cell-5 {
  width: 88.42px;
  padding: 23.5px 24px 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-16 {
  position: relative;
  display: flex;
  align-items: center;
  width: 38.58px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .cell-6 {
  width: 89.94px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-17 {
  position: relative;
  width: 38.82px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
}

.history .div-wrapper-3 {
  width: 119.2px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .tr-ng-th-i {
  position: relative;
  width: 45.6px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
}

.history .cell-7 {
  width: 87.13px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-18 {
  position: relative;
  width: 36.75px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
}

.history .row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .data {
  width: 93.03px;
  padding: 33.5px 24px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-19 {
  position: relative;
  display: flex;
  align-items: center;
  width: 44.63px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .paragraph-background-wrapper {
  width: 109.78px;
  padding: 23px 24px 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .paragraph-background {
  position: relative;
  width: 58.27px;
  height: 41px;
  background-color: #dae2ff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #0040a11a;
}

.history .text-20 {
  position: absolute;
  top: 4px;
  left: 13px;
  width: 31px;
  height: 16px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #001847;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .text-21 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 45px;
  height: 16px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #001847;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .data-2 {
  width: 115.23px;
  padding: 33.5px 24px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-22 {
  position: relative;
  display: flex;
  align-items: center;
  width: 63.73px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .data-3 {
  width: 128.75px;
  padding: 23.5px 24px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-23 {
  position: relative;
  width: 76.54px;
  height: 40px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.history .data-4 {
  width: 128.52px;
  padding: 23.5px 24px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .data-5 {
  width: 64.41px;
  gap: 4px;
  padding: 0px 0px 0px 23.99px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #737785;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.history .data-6 {
  width: 113.94px;
  padding: 33.5px 24px 35px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-24 {
  position: relative;
  display: flex;
  align-items: center;
  width: 40.02px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .background-2 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 20.76px 4px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #90efef;
  border-radius: 9999px;
}

.history .background-3 {
  position: relative;
  width: 3.42px;
  height: 6px;
  background-color: #006a6a;
  border-radius: 9999px;
}

.history .text-25 {
  position: relative;
  width: 29.02px;
  height: 48px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #004f4f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.history .data-7 {
  width: 87.13px;
  padding: 28px 24px 28.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .button-2 {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 9999px;
}

.history .icon-8 {
  position: relative;
  width: 16.5px;
  height: 11.25px;
}

.history .row-2 {
  margin-top: -1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #f3f3f7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .data-8 {
  width: 93.03px;
  padding: 34px 24px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-26 {
  position: relative;
  display: flex;
  align-items: center;
  width: 41.8px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .paragraph-background-2 {
  width: 55.7px;
  position: relative;
  height: 41px;
  background-color: #dae2ff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #0040a11a;
}

.history .text-27 {
  position: absolute;
  top: 4px;
  left: 13px;
  width: 32px;
  height: 16px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #001847;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .text-28 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 43px;
  height: 16px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #001847;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .data-9 {
  width: 115.23px;
  padding: 34px 24px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-29 {
  position: relative;
  display: flex;
  align-items: center;
  width: 61.36px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .data-10 {
  width: 128.75px;
  padding: 24px 24px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .data-11 {
  width: 128.52px;
  padding: 34px 24px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-30 {
  position: relative;
  display: flex;
  align-items: center;
  width: 37.67px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #737785;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .ra {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #737785;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.history .data-12 {
  width: 113.94px;
  padding: 34px 24px 35px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-31 {
  position: relative;
  display: flex;
  align-items: center;
  width: 13.03px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .background-wrapper {
  width: 119.2px;
  padding: 16.5px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .background-4 {
  display: inline-flex;
  align-items: center;
  gap: 6.01px;
  padding: 4px 19.59px 4px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #dae2ff;
  border-radius: 9999px;
}

.history .background-5 {
  position: relative;
  width: 2.7px;
  height: 6px;
  background-color: #0040a1;
  border-radius: 9999px;
}

.history .text-32 {
  position: relative;
  width: 30.9px;
  height: 48px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.history .data-13 {
  width: 87.13px;
  padding: 28.5px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-33 {
  position: relative;
  display: flex;
  align-items: center;
  width: 45.03px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .paragraph-background-3 {
  width: 56.77px;
  position: relative;
  height: 41px;
  background-color: #dae2ff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #0040a11a;
}

.history .text-34 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 44px;
  height: 16px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #001847;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .text-35 {
  position: relative;
  display: flex;
  align-items: center;
  width: 60.13px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .data-14 {
  width: 128.52px;
  padding: 24px 24px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .data-15 {
  width: 93.03px;
  padding: 34px 24px 34.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-36 {
  position: relative;
  display: flex;
  align-items: center;
  width: 44.19px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .data-16 {
  width: 109.78px;
  padding: 23.5px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .paragraph-background-4 {
  width: 50.61px;
  position: relative;
  height: 41px;
  background-color: #dae2ff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #0040a11a;
}

.history .text-37 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 38px;
  height: 16px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #001847;
  font-size: 12px;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.history .data-17 {
  width: 115.23px;
  padding: 34px 24px 34.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .text-38 {
  position: relative;
  display: flex;
  align-items: center;
  width: 65.22px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .data-18 {
  width: 128.75px;
  padding: 24px 24px 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .data-19 {
  width: 128.52px;
  padding: 24px 24px 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .data-20 {
  width: 113.94px;
  padding: 34px 24px 34.5px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .data-21 {
  width: 87.13px;
  padding: 28.5px 24px 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #edeef1;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #c3c6d633;
}

.history .p {
  position: relative;
  display: flex;
  align-items: center;
  width: 277.55px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
}

.history .span {
  line-height: 20px;
}

.history .text-wrapper-5 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.history .container-9 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.history .button-3 {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.history .icon-9 {
  position: relative;
  width: 6.17px;
  height: 10px;
}

.history .button-4 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 7.5px 0px 8.5px;
  position: relative;
  background-color: #0040a1;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #0000000d;
}

.history .text-39 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.92px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .button-5 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 7.5px 0px 8.5px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.history .text-40 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.64px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .text-41 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.78px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .container-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.history .text-42 {
  position: relative;
  display: flex;
  align-items: center;
  width: 13.83px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #737785;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.history .text-43 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.41px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .section-bottom {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 152px;
  height: fit-content;
  gap: 24px;
}

.history .background-6 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 24px 24px 36px;
  background-color: #ffffff;
  border-radius: 12px;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #006a6a;
  box-shadow: 0px 1px 2px #0000000d;
}

.history .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 1.20px;
  line-height: 16px;
}

.history .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #191c1e;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 40px;
}

.history .container-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #006a6a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.history .background-7 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background-color: #0040a1;
  border-radius: 12px;
  overflow: hidden;
}

.history .container-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: -24px;
  bottom: -24px;
}

.history .icon-10 {
  position: relative;
  width: 72px;
  height: 61.33px;
}

.history .container-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .t-ng-l-t-g-i-h-m-nay {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #dae2ff;
  font-size: 12px;
  letter-spacing: 1.20px;
  line-height: 16px;
}

.history .heading {
  display: flex;
  padding: 0px 0px 12px;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.history .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 40px;
}

.history .overlay {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff1a;
  border-radius: 4px;
}

.history .icon-11 {
  position: relative;
  width: 11.67px;
  height: 7px;
}

.history .text-44 {
  position: relative;
  display: flex;
  align-items: center;
  width: 122.53px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.history .background-8 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 24px 24px 52px;
  background-color: #ffffff;
  border-radius: 12px;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #0040a1;
  box-shadow: 0px 1px 2px #0000000d;
}

.history .container-14 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 8.53e-14px 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.history .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 40px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #191c1e;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.history .text-45 {
  position: relative;
  display: flex;
  align-items: center;
  width: 96.41px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .background-9 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 8px;
  background-color: #e7e8eb;
  border-radius: 9999px;
  overflow: hidden;
}

.history .background-10 {
  width: 85.00%;
  height: 100%;
  background-color: #0040a1;
  border-radius: 9999px;
}

.history .footer-visual-decor {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  position: absolute;
  top: 1012px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #f1f5f9;
  opacity: 0.6;
}

.history .text-46 {
  position: relative;
  display: flex;
  align-items: center;
  width: 347px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.history .container-15 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.history .container-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.history .quy-nh-b-o-m-t {
  position: relative;
  display: flex;
  align-items: center;
  width: 91.77px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #737785;
  font-size: 10px;
  letter-spacing: -0.50px;
  line-height: 15px;
  white-space: nowrap;
}

.history .h-tr-k-thu-t {
  position: relative;
  display: flex;
  align-items: center;
  width: 85.53px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #737785;
  font-size: 10px;
  letter-spacing: -0.50px;
  line-height: 15px;
  white-space: nowrap;
}

.history .header-topappbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffffcc;
  box-shadow: 0px 1px 2px #0000000d;
  backdrop-filter: blur(6px) brightness(100%);
  -webkit-backdrop-filter: blur(6px) brightness(100%);
}

.history .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  width: 151.52px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 24px;
  letter-spacing: -0.60px;
  line-height: 32px;
  white-space: nowrap;
}

.history .text-wrapper-12 {
  position: relative;
  display: flex;
  align-items: center;
  width: 260.55px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .container-17 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.history .button-6 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 7.99px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e7e8eb;
  border-radius: 8px;
}

.history .icon-12 {
  position: relative;
  width: 9.33px;
  height: 9.33px;
}

.history .text-47 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64.77px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .button-7 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 7.99px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0040a1;
  border-radius: 8px;
}

.history .button-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  border-radius: 8px;
  box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
}

.history .icon-13 {
  position: relative;
  width: 11.67px;
  height: 11.67px;
}

.history .text-48 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.41px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.history .vertical-divider-wrapper {
  width: 17px;
  height: 32px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.history .vertical-divider {
  position: relative;
  width: 1px;
  height: 32px;
  background-color: #c3c6d64c;
}

.history .background-border {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #dae2ff;
  border-radius: 9999px;
  overflow: hidden;
  border: 2px solid;
  border-color: #ffffff;
  box-shadow: 0px 1px 2px #0000000d;
}

.history .user-profile-avatar {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-image: url(./img/user-profile-avatar.png);
  background-size: cover;
  background-position: 50% 50%;
}
