.login {
  display: flex;
  width: 1280px;
  min-height: 1024px;
  align-items: center;
  justify-content: center;
  padding: 112px 16px;
  position: relative;
  background-color: #f9f9fd;
}

.login .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 1024px;
  overflow: hidden;
  opacity: 0.4;
}

.login .background-blur {
  position: absolute;
  top: -102px;
  right: -128px;
  width: 512px;
  height: 410px;
  background-color: #dae2ff;
  border-radius: 9999px;
  filter: blur(60px);
}

.login .div {
  position: absolute;
  left: -128px;
  bottom: -102px;
  width: 384px;
  height: 307px;
  background-color: #90efef;
  border-radius: 9999px;
  filter: blur(50px);
}

.login .main-login-container {
  display: flex;
  max-width: 1152px;
  width: 1152px;
  height: 800px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 25px 50px -12px #00000040;
}

.login .section-left-side {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #0040a1;
}

.login .NEU-building {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-image: url(./img/NEU-a2-building.png);
  background-size: cover;
  background-position: 50% 50%;
}

.login .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(130deg, rgba(0, 64, 161, 1) 0%, rgba(0, 64, 161, 0.8) 50%, rgba(0, 64, 161, 0) 100%);
}

.login .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 48px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.login .container-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 311.75px;
}

.login .container-3 {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.login .container-wrapper {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.login .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.login .icon {
  position: relative;
  width: 22.5px;
  height: 20px;
}

.login .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 200.75px;
  height: 32px;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 32px;
  white-space: nowrap;
}

.login .heading {
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.login .ch-o-m-ng-b-n-quay {
  position: relative;
  width: 367.06px;
  height: 120px;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 60px;
}

.login .h-th-ng-qu-n-l-xe-th {
  position: absolute;
  top: 224px;
  left: 0;
  width: 441px;
  height: 88px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #b2c5ff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 29.2px;
}

.login .container-4 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .container-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.login .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .text {
  width: 80.95px;
  height: 32px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .text-2 {
  width: 78.02px;
  height: 16px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #b2c5ff;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .text-3 {
  width: 24.58px;
  height: 32px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .text-4 {
  width: 88.89px;
  height: 16px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #b2c5ff;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .text-5 {
  width: 22.83px;
  height: 32px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .text-6 {
  width: 166.63px;
  height: 16px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #b2c5ff;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .section-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 64px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff;
}

.login .container-6 {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.login .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.login .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
}

.login .p {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.login .form {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .role-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .label {
  display: flex;
  width: 444px;
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.login .vai-tr-ng-i-d-ng {
  position: relative;
  display: flex;
  align-items: center;
  width: 139.84px;
  height: 16px;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654cc;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 16px;
  white-space: nowrap;
}

.login .container-7 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 71px;
  height: fit-content;
  gap: 8px;
}

.login .label-2 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #dae2ff4c;
  border-radius: 8px;
  border: 2px solid;
  border-color: #0040a1;
  flex-direction: column;
  position: relative;
}

.login .margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.login .img {
  position: relative;
  width: 18px;
  height: 20px;
}

.login .qu-n-tr {
  position: relative;
  display: flex;
  align-items: center;
  width: 48.38px;
  height: 15px;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.login .label-3 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #f3f3f7;
  border-radius: 8px;
  border: 2px solid;
  border-color: #e7e8eb;
  flex-direction: column;
  position: relative;
}

.login .icon-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.login .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 45px;
  height: 15px;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.login .label-4 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #f3f3f7;
  border-radius: 8px;
  border: 2px solid;
  border-color: #e7e8eb;
  flex-direction: column;
  position: relative;
}

.login .icon-3 {
  position: relative;
  width: 22px;
  height: 18px;
}

.login .text-7 {
  width: 50.55px;
  height: 15px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .div-4 {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 175.56px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.login .input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 16px 16px 48px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid;
  border-color: #e7e8eb;
  position: relative;
  background-color: #ffffff;
}

.login .container-8 {
  position: relative;
  flex-grow: 1;
  border: none;
  background: none;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #73778599;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
}

.login .icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 42.86%;
  align-items: flex-start;
  position: absolute;
  top: 28.57%;
  left: 16px;
}

.login .icon-4 {
  position: relative;
  width: 16px;
  height: 16px;
}

.login .container-9 {
  display: flex;
  width: 444px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.login .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: 106px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.login .text-8 {
  width: 93.98px;
  height: 16px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  white-space: nowrap;
}

.login .icon-5 {
  position: relative;
  width: 16px;
  height: 21px;
}

.login .button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 27.27%;
  top: 36.36%;
  right: 16px;
}

.login .img-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.login .icon-6 {
  position: relative;
  width: 22px;
  height: 15px;
}

.login .remember-me {
  display: flex;
  width: 444px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.login .input-2 {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #c3c6d6;
  position: relative;
  background-color: #ffffff;
}

.login .label-margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.login .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  width: 125.11px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.login .login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background: linear-gradient(90deg, rgba(0, 64, 161, 1) 0%, rgba(0, 86, 210, 1) 100%);
  width: 100%;
  border-radius: 8px;
}

.login .login-button-shadow {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  box-shadow: 0px 4px 6px -4px #0040a133, 0px 10px 15px -3px #0040a133;
  width: 100%;
  border-radius: 8px;
}

.login .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96.98px;
  height: 28px;
  margin-top: -1px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.login .footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .b-n-ch-a-c-t-i-kho-n-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .b-n-ch-a-c-t-i-kho-n {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250.33px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.login .span {
  color: #424654;
  line-height: 20px;
}

.login .text-wrapper-8 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
}

.login .horizontal-border {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e7e8eb;
}

.login .link {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.login .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 16px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #737785;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.login .div-wrapper {
  display: flex;
  width: 130px;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.login .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 16px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #737785;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.login .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111.94px;
  height: 16px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #737785;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}
