.QR {
  position: relative;
  width: 1280px;
  height: 1186px;
  background-color: #f9f9fd;
}

.QR .aside-sidenavbar {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 1105px;
  align-items: flex-start;
  padding: 80px 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8fafc;
}

.QR .margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.QR .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.QR .div-wrapper {
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.QR .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1e40af;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.QR .div {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.QR .nav-margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.QR .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.QR .link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  position: relative;
  flex: 0 0 auto;
}

.QR .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.QR .icon {
  position: relative;
  width: 18px;
  height: 18px;
}

.QR .text {
  width: 73.02px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-2 {
  width: 66.17px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .link-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #1d4ed8;
  box-shadow: 0px 1px 2px #0000000d;
  position: relative;
  flex: 0 0 auto;
}

.QR .text-3 {
  width: 84.44px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1d4ed8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-4 {
  width: 86.77px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .img {
  position: relative;
  width: 18px;
  height: 16px;
}

.QR .text-5 {
  width: 56.72px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .horizontal-border-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.QR .horizontal-border {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 16px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e2e8f0;
}

.QR .icon-2 {
  position: relative;
  width: 20.1px;
  height: 20px;
}

.QR .text-6 {
  width: 54.92px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-7 {
  width: 46.7px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .main-content-canvas {
  display: flex;
  flex-direction: column;
  max-width: 896px;
  width: calc(100% - 384px);
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 96px;
  left: 320px;
}

.QR .header-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.QR .container-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.QR .text-8 {
  width: 279.34px;
  height: 40px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 36px;
  letter-spacing: -0.90px;
  line-height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .p {
  width: 356.77px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #424654;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .container-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.QR .button {
  all: unset;
  box-sizing: border-box;
  gap: 8px;
  padding: 10px 24px;
  background-color: #e7e8eb;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.QR .container-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.QR .icon-3 {
  position: relative;
  width: 16.67px;
  height: 15px;
}

.QR .text-9 {
  justify-content: center;
  width: 68.86px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .button-2 {
  all: unset;
  box-sizing: border-box;
  gap: 8px;
  padding: 10px 24px;
  background-color: #0040a1;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.QR .icon-4 {
  position: relative;
  width: 13.33px;
  height: 13.33px;
}

.QR .text-10 {
  justify-content: center;
  width: 105.94px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .main-layout-bento {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 598.25px;
  height: fit-content;
  gap: 24px;
}

.QR .left-column-student {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 0px 75.25px;
}

.QR .profile-card {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 417px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: #c3c6d633;
  box-shadow: 0px 1px 2px #0000000d;
}

.QR .text-wrapper-2 {
  position: absolute;
  top: 153px;
  left: calc(50.00% - 92px);
  width: 183px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.QR .container-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 24px;
  position: absolute;
  top: 185px;
  left: 112px;
}

.QR .text-11 {
  justify-content: center;
  width: 135.27px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #006a6a;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.40px;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .horizontal-border-2 {
  display: flex;
  flex-direction: column;
  width: calc(100% - 66px);
  align-items: flex-start;
  gap: 16px;
  padding: 24px 0px 0px;
  position: absolute;
  top: 229px;
  left: 33px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #f1f5f9;
}

.QR .container-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.QR .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 10px;
  letter-spacing: 0.50px;
  line-height: 15px;
}

.QR .background {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f3f7;
  border-radius: 8px;
}

.QR .icon-5 {
  position: relative;
  width: 20px;
  height: 16px;
}

.QR .text-12 {
  width: 116.72px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.QR .margin-2 {
  position: absolute;
  top: 33px;
  left: 132px;
  width: 100px;
  height: 120px;
}

.QR .status-banner {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #90efef4c;
  border-radius: 12px;
  border: 1px solid;
  border-color: #006a6a1a;
}

.QR .background-2 {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #006a6a;
  border-radius: 9999px;
}

.QR .icon-6 {
  position: relative;
  width: 20px;
  height: 20px;
}

.QR .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: 174px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #006e6e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.QR .text-13 {
  width: 174.5px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #006e6ecc;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .right-column-the-QR {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 6 / 13;
  width: 100%;
  min-height: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #c3c6d633;
  box-shadow: 0px 1px 2px #0000000d;
}

.QR .QR-code-container {
  position: relative;
  flex: 0 0 auto;
  z-index: 3;
}

.QR .overlay {
  position: absolute;
  left: -47px;
  bottom: -47px;
  width: 96px;
  height: 96px;
  z-index: 2;
  background-color: #006a6a0d;
  border-radius: 9999px;
}

.QR .decorative {
  position: absolute;
  top: -63px;
  right: -63px;
  width: 128px;
  height: 128px;
  z-index: 1;
  background-color: #0040a10d;
  border-radius: 9999px;
}

.QR .margin-3 {
  display: inline-flex;
  flex-direction: column;
  max-width: 384px;
  align-items: flex-start;
  padding: 48px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  z-index: 0;
}

.QR .container-6 {
  position: relative;
  max-width: 384px;
  width: 384px;
  height: 148.25px;
}

.QR .background-3 {
  display: inline-flex;
  align-items: center;
  gap: 7.99px;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  left: 74px;
  background-color: #edeef1;
  border-radius: 9999px;
}

.QR .icon-7 {
  position: relative;
  width: 9.33px;
  height: 12.25px;
}

.QR .text-14 {
  justify-content: center;
  width: 190.77px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #424654;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .heading {
  align-items: center;
  position: absolute;
  top: 44px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.QR .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 281px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.QR .vui-l-ng-gi-m-QR-c-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 79px;
  left: 0;
}

.QR .vui-l-ng-gi-m-QR-c {
  position: relative;
  width: 368.5px;
  height: 69px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.8px;
}

.QR .notes-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 138px;
  height: fit-content;
  gap: 24px;
}

.QR .background-border {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 138px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: #f1f5f9;
}

.QR .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.QR .icon-8 {
  position: relative;
  width: 25px;
  height: 25px;
}

.QR .container-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.QR .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  width: 106.63px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.QR .m-QR-n-y-c-t-o-v-o-l {
  position: relative;
  width: 335.77px;
  height: 60px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.QR .background-border-2 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 138px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: #f1f5f9;
}

.QR .icon-9 {
  position: relative;
  width: 20px;
  height: 25px;
}

.QR .text-15 {
  width: 165px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #191c1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .khi-n-c-ng-ra-v-o-ch {
  position: relative;
  width: 323.2px;
  height: 60px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #424654;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.QR .footer-hidden-on {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 32px 0px;
  position: absolute;
  top: 1105px;
  left: 0;
  background-color: #f8fafc;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e2e8f0;
}

.QR .container-8 {
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.QR .text-16 {
  width: 315px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .container-9 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.QR .text-17 {
  width: 79.34px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-18 {
  width: 96.66px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-19 {
  width: 75.09px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-20 {
  width: 67.72px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .top-nav-bar {
  display: flex;
  flex-direction: column;
  width: 1280px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffffcc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e2e8f033;
  box-shadow: 0px 1px 2px #0000000d;
  backdrop-filter: blur(6px) brightness(100%);
  -webkit-backdrop-filter: blur(6px) brightness(100%);
}

.QR .container-10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.QR .text-21 {
  width: 216.41px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #1e40af;
  font-size: 24px;
  letter-spacing: -0.60px;
  line-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .container-11 {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.QR .text-22 {
  width: 44.31px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #475569;
  font-size: 16px;
  letter-spacing: -0.40px;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-23 {
  width: 45.67px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #475569;
  font-size: 16px;
  letter-spacing: -0.40px;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-24 {
  width: 52.31px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #475569;
  font-size: 16px;
  letter-spacing: -0.40px;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .text-25 {
  width: 59.31px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #475569;
  font-size: 16px;
  letter-spacing: -0.40px;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.QR .container-12 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.QR .icon-wrapper {
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.QR .background-4 {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #dae2ff;
  border-radius: 9999px;
}

.QR .text-26 {
  justify-content: center;
  width: 20.91px;
  height: 24px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #0040a1;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
