.my-vehicle {
  display: flex;
  flex-direction: column;
  width: 1280px;
  align-items: flex-start;
  position: relative;
  background-color: #f8f9fa;
}

.my-vehicle .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 2;
  background-color: #f8f9fab2;
  backdrop-filter: blur(6px) brightness(100%);
  -webkit-backdrop-filter: blur(6px) brightness(100%);
}

.my-vehicle .container {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .text {
  position: relative;
  display: flex;
  align-items: center;
  width: 171.83px;
  height: 28px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 28px;
  white-space: nowrap;
}

.my-vehicle .nav {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .link {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 2px;
}

.my-vehicle .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 122.23px;
  height: 24px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 12px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #001e40;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 93.34px;
  height: 24px;
  margin-top: -2px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #001e40;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 54.95px;
  height: 24px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .container-2 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .input {
  display: flex;
  width: 256px;
  align-items: flex-start;
  justify-content: center;
  padding: 9px 16px 10px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e1e3e4;
  border-radius: 4px;
  overflow: hidden;
}

.my-vehicle .container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.my-vehicle .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6b7280;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my-vehicle .icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 55.56%;
  align-items: flex-start;
  position: absolute;
  top: 22.22%;
  left: 12px;
}

.my-vehicle .icon {
  position: relative;
  width: 10.5px;
  height: 10.5px;
}

.my-vehicle .button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 12px;
}

.my-vehicle .img-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .img {
  position: relative;
  width: 16px;
  height: 20px;
}

.my-vehicle .background {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #d5e3ff;
  border-radius: 12px;
  overflow: hidden;
}

.my-vehicle .nh-i-din-ngi-dng {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-image: url(./img/nh-i-di-n-ng-i-d-ng.png);
  background-size: cover;
  background-position: 50% 50%;
}

.my-vehicle .aside-side {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 1158px;
  align-items: flex-start;
  gap: 8px;
  padding: 80px 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f3f4f5;
  box-shadow: 20px 0px 40px #001e400a;
}

.my-vehicle .margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .container-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .div-wrapper-2 {
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.my-vehicle .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.my-vehicle .p {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #43474f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.my-vehicle .nav-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .link-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  align-self: stretch;
  width: 100%;
  border-radius: 4px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .icon-2 {
  position: relative;
  width: 18px;
  height: 18px;
}

.my-vehicle .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  width: 106.97px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .link-css-transform {
  display: flex;
  flex-direction: column;
  width: 224px;
  align-items: flex-start;
  padding: 0px 0px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .link-3 {
  display: flex;
  width: 224px;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  margin-right: -4px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #0000000d;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .icon-3 {
  position: relative;
  width: 18px;
  height: 16px;
}

.my-vehicle .text-wrapper-7 {
  width: 79.89px;
  height: 20px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  color: #001e40;
  letter-spacing: 0;
  white-space: nowrap;
}

.my-vehicle .text-wrapper-8 {
  width: 63.92px;
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .text-wrapper-9 {
  width: 52.86px;
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 48.08px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .icon-4 {
  position: relative;
  width: 22px;
  height: 16px;
}

.my-vehicle .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  width: 77.98px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .horizontal-border-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 181px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 489px 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.my-vehicle .horizontal-border {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 16px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #c3c6d11a;
}

.my-vehicle .button-margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 16px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7.99px;
  padding: 12px 24.81px 12px 24.8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  background: linear-gradient(167deg, rgba(0, 30, 64, 1) 0%, rgba(0, 51, 102, 1) 100%);
}

.my-vehicle .button-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  border-radius: 4px;
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
}

.my-vehicle .container-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .icon-5 {
  position: relative;
  width: 11.67px;
  height: 11.67px;
}

.my-vehicle .text-2 {
  justify-content: center;
  width: 152.38px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .icon-6 {
  position: relative;
  width: 20.1px;
  height: 20px;
}

.my-vehicle .text-3 {
  width: 46.86px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .text-4 {
  width: 68.13px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .main-content-area-wrapper {
  display: flex;
  min-height: 1158px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 0px 256px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 0;
}

.my-vehicle .main-content-area {
  display: flex;
  flex-direction: column;
  min-height: 1158px;
  align-items: flex-start;
  gap: 48px;
  padding: 32px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #f8f9fa;
}

.my-vehicle .header-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .container-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .text-wrapper-12 {
  position: relative;
  display: flex;
  align-items: center;
  width: 329px;
  height: 40px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 36px;
  letter-spacing: -0.9px;
  line-height: 40px;
  white-space: nowrap;
}

.my-vehicle .qu-n-l-c-c-ph-ng-ti-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 512px;
  width: 512px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .qu-n-l-c-c-ph-ng-ti {
  position: relative;
  align-self: stretch;
  height: 48px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #43474f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.my-vehicle .container-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .background-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #d5e3ff;
  border-radius: 8px;
}

.my-vehicle .text-5 {
  justify-content: center;
  width: 32.58px;
  height: 32px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001b3c;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .ng-k {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.5px;
  height: 15px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1f477b;
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
  white-space: nowrap;
}

.my-vehicle .background-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #ffdbca;
  border-radius: 8px;
}

.my-vehicle .text-6 {
  justify-content: center;
  width: 27.92px;
  height: 32px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #341100;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .trong-b-i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64.34px;
  height: 15px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #723610;
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
  white-space: nowrap;
}

.my-vehicle .bento-grid-of {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 520px 328px;
  height: fit-content;
  gap: 32px;
}

.my-vehicle .main-vehicle-card {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 9;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 26px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 20px 40px #001e400a;
}

.my-vehicle .background-4 {
  display: flex;
  flex-direction: column;
  height: 256px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  z-index: 1;
  background-color: #d9dadb;
}

.my-vehicle .xe-my-honda-SH {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-image: url(./img/xe-m-y-honda-SH.png);
  background-size: cover;
  background-position: 50% 50%;
}

.my-vehicle .background-5 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #001e40;
  border-radius: 12px;
}

.my-vehicle .text-wrapper-13 {
  position: relative;
  display: flex;
  align-items: center;
  width: 62.47px;
  height: 16px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.my-vehicle .background-6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 30, 64, 0.8) 0%, rgba(0, 30, 64, 0) 100%);
}

.my-vehicle .text-wrapper-14 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.my-vehicle .text-wrapper-15 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffcc;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.my-vehicle .container-8 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 75px 67px;
  height: fit-content;
  gap: 32px;
  padding: 32px;
}

.my-vehicle .container-9 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.my-vehicle .text-wrapper-16 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #43474f;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 15px;
}

.my-vehicle .background-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #edeeef;
  border-radius: 4px;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #001e40;
}

.my-vehicle .text-7 {
  width: 138.31px;
  height: 28px;
  margin-top: -4px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .container-10 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 4px;
}

.my-vehicle .background-8 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #d5e3ff;
  border-radius: 4px;
}

.my-vehicle .background-9 {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #003366;
  border-radius: 12px;
}

.my-vehicle .text-wrapper-17 {
  position: relative;
  display: flex;
  align-items: center;
  width: 211px;
  height: 24px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #001b3c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .horizontal-border-2 {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  width: 100%;
  height: 67px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 16px 0px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #c3c6d11a;
}

.my-vehicle .button-3 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid;
  border-color: #c3c6d1;
}

.my-vehicle .text-wrapper-18 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103.81px;
  height: 24px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #001e40;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .text-wrapper-19 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107.77px;
  height: 24px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #001e40;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .stats-secondary-card {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 9 / 13;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.my-vehicle .quick-info-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #001e40;
  border-radius: 16px;
  overflow: hidden;
}

.my-vehicle .overlay-blur {
  position: absolute;
  right: -40px;
  bottom: -40px;
  width: 160px;
  height: 160px;
  background-color: #ffffff0d;
  border-radius: 12px;
  filter: blur(32px);
}

.my-vehicle .container-11 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 196px;
}

.my-vehicle .icon-7 {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 33px;
  height: 24px;
}

.my-vehicle .heading {
  position: absolute;
  top: 56px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.my-vehicle .text-wrapper-20 {
  position: relative;
  display: flex;
  align-items: center;
  width: 218px;
  height: 28px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.my-vehicle .container-12 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: absolute;
  top: 92px;
  left: 0;
}

.my-vehicle .text-8 {
  width: 140.91px;
  height: 36px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.75px;
  line-height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .button-4 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  position: absolute;
  top: 152px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.my-vehicle .text-wrapper-21 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97.52px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .notification-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f4f5;
  border-radius: 16px;
}

.my-vehicle .heading-2 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .icon-8 {
  position: relative;
  width: 16.67px;
  height: 16.67px;
}

.my-vehicle .text-wrapper-22 {
  position: relative;
  display: flex;
  align-items: center;
  width: 116.17px;
  height: 24px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #001e40;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .container-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .background-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #001e40;
  box-shadow: 0px 1px 2px #0000000d;
}

.my-vehicle .text-wrapper-23 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #001e40;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.my-vehicle .background-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #c3c6d1;
  box-shadow: 0px 1px 2px #0000000d;
  opacity: 0.6;
}

.my-vehicle .text-wrapper-24 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #43474f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.my-vehicle .secondary-vehicle {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.my-vehicle .container-14 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .text-wrapper-25 {
  width: 202.61px;
  height: 32px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  color: #001e40;
  letter-spacing: 0;
  white-space: nowrap;
}

.my-vehicle .button-5 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 3.99px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .text-wrapper-26 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.22px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .icon-9 {
  position: relative;
  width: 8px;
  height: 8px;
}

.my-vehicle .vehicle-item {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 1px 2px #0000000d;
}

.my-vehicle .container-wrapper {
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #edeeef;
  border-radius: 8px;
}

.my-vehicle .icon-10 {
  position: relative;
  width: 30px;
  height: 27.5px;
}

.my-vehicle .container-15 {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.my-vehicle .text-wrapper-27 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #001e40;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.my-vehicle .text-wrapper-28 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.my-vehicle .paragraph {
  display: inline-flex;
  flex-direction: column;
  min-width: 150px;
  align-items: flex-start;
  gap: 4px;
  padding: 0px 45.52px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .label-bi-n-s {
  position: relative;
  display: flex;
  align-items: center;
  width: 46.78px;
  height: 15px;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #43474f;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 15px;
  white-space: nowrap;
}

.my-vehicle .text-9 {
  width: 104.48px;
  height: 24px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .container-16 {
  display: inline-flex;
  flex-direction: column;
  min-width: 150px;
  align-items: flex-start;
  gap: 3.5px;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .text-wrapper-29 {
  width: 73.27px;
  height: 15px;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #43474f;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 15px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.my-vehicle .container-17 {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.my-vehicle .background-12 {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #737780;
  border-radius: 12px;
}

.my-vehicle .text-wrapper-30 {
  position: relative;
  display: flex;
  align-items: center;
  width: 82.67px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #43474f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.my-vehicle .button-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .button-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.my-vehicle .icon-11 {
  position: relative;
  width: 4px;
  height: 16px;
}

.my-vehicle .vehicle-item-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 128px;
  background-color: #edeeef;
  border-radius: 16px;
  opacity: 0.75;
}

.my-vehicle .background-13 {
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 40px);
  left: 24px;
  background-color: #e7e8e9;
  border-radius: 8px;
}

.my-vehicle .icon-12 {
  position: relative;
  width: 22.5px;
  height: 20px;
}

.my-vehicle .container-18 {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: calc(100% - 641px);
  align-items: flex-start;
  position: absolute;
  top: calc(50% - 24px);
  left: 136px;
}

.my-vehicle .text-wrapper-31 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #43474f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.my-vehicle .paragraph-2 {
  display: inline-flex;
  flex-direction: column;
  min-width: 150px;
  align-items: flex-start;
  gap: 4px;
  padding: 0px 51.83px 0px 0px;
  position: absolute;
  top: calc(50% - 22px);
  left: 487px;
}

.my-vehicle .text-wrapper-32 {
  position: relative;
  display: flex;
  align-items: center;
  width: 130px;
  height: 24px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #43474f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-vehicle .container-19 {
  display: inline-flex;
  flex-direction: column;
  min-width: 150px;
  align-items: flex-start;
  gap: 1px;
  padding: 0px 61.39px 0px 0px;
  position: absolute;
  top: calc(50% - 17px);
  left: 669px;
}

.my-vehicle .ch-duy-t-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 2.5px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffdad6;
  border-radius: 12px;
}

.my-vehicle .ch-duy-t {
  position: relative;
  display: flex;
  align-items: center;
  width: 64.61px;
  height: 15px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #93000a;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 15px;
  white-space: nowrap;
}

.my-vehicle .container-20 {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: calc(50% - 8px);
  left: 851px;
}

.my-vehicle .button-7 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.my-vehicle .text-wrapper-33 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85.34px;
  height: 16px;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #001e40;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
}
