.users-manage {
  display: flex;
  flex-direction: column;
  width: 1280px;
  align-items: flex-start;
  padding: 0px 0px 0px 256px;
  position: relative;
  background-color: #f9f9fd;
}

.users-manage .main-content-canvas {
  display: flex;
  flex-direction: column;
  min-height: 1104px;
  align-items: flex-start;
  padding: 0px 0px 27.75px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .header-topappbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 1;
  background-color: #ffffffcc;
  box-shadow: 0px 1px 2px #0000000d;
  backdrop-filter: blur(12px) brightness(100%);
  -webkit-backdrop-filter: blur(12px) brightness(100%);
}

.users-manage .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 237px;
  height: 28px;
  margin-top: -1.00px;
  background: linear-gradient(
    176deg,
    rgba(29, 78, 216, 1) 0%,
    rgba(59, 130, 246, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.users-manage .container-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .input {
  display: flex;
  width: 320px;
  align-items: flex-start;
  justify-content: center;
  padding: 9px 16px 10px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f1f5f9;
  border-radius: 9999px;
  overflow: hidden;
}

.users-manage .container-3 {
  position: relative;
  flex-grow: 1;
  border: none;
  background: none;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6b7280;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
}

.users-manage .container-wrapper {
  display: inline-flex;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  left: 12px;
}

.users-manage .icon {
  position: relative;
  width: 15px;
  height: 15px;
}

.users-manage .vertical-border {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 0px 0px 0px 24px;
  position: relative;
  flex: 0 0 auto;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #e2e8f0;
}

.users-manage .button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .icon-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .img {
  position: relative;
  width: 16px;
  height: 20px;
}

.users-manage .icon-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.users-manage .container-4 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .admin-profile-avatar {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  border: 2px solid;
  border-color: #dae2ff;
  background-image: url(./img/admin-profile-avatar.png);
  background-size: cover;
  background-position: 50% 50%;
}

.users-manage .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .text {
  position: relative;
  display: flex;
  align-items: center;
  width: 65.56px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .text-2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 60.98px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.users-manage .container-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 0;
}

.users-manage .stats-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 104px;
  height: fit-content;
  gap: 24px;
}

.users-manage .background {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #0040a1;
  box-shadow: 0px 1px 2px #0000000d;
}

.users-manage .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 12px;
  letter-spacing: 1.20px;
  line-height: 16px;
}

.users-manage .container-6 {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 115px;
  height: 36px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0040a1;
  font-size: 30px;
  letter-spacing: -1.50px;
  line-height: 36px;
  white-space: nowrap;
}

.users-manage .margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 6.22px 4px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -27.52px;
}

.users-manage .text-3 {
  position: relative;
  width: 68.3px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #006a6a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.users-manage .background-2 {
  grid-column: 2 / 3;
  border-color: #006a6a;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  border-left-width: 4px;
  border-left-style: solid;
  box-shadow: 0px 1px 2px #0000000d;
}

.users-manage .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 118px;
  height: 36px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #006a6a;
  font-size: 30px;
  letter-spacing: -1.50px;
  line-height: 36px;
  white-space: nowrap;
}

.users-manage .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .text-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 37.27px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #94a3b8;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .background-3 {
  grid-column: 3 / 4;
  border-color: #822800;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  border-left-width: 4px;
  border-left-style: solid;
  box-shadow: 0px 1px 2px #0000000d;
}

.users-manage .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: 80px;
  height: 36px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #822800;
  font-size: 30px;
  letter-spacing: -1.50px;
  line-height: 36px;
  white-space: nowrap;
}

.users-manage .text-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: 70.94px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ba1a1a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .background-4 {
  grid-column: 4 / 5;
  border-color: #60a5fa;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  border-left-width: 4px;
  border-left-style: solid;
  box-shadow: 0px 1px 2px #0000000d;
}

.users-manage .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  width: 63px;
  height: 36px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #60a5fa;
  font-size: 30px;
  letter-spacing: -1.50px;
  line-height: 36px;
  white-space: nowrap;
}

.users-manage .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  width: 90.83px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #60a5fa;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .management-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 1px 2px #0000000d;
}

.users-manage .table-header-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f1f5f9;
}

.users-manage .container-7 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .img-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #dae2ff;
  border-radius: 8px;
}

.users-manage .icon-3 {
  position: relative;
  width: 18px;
  height: 12px;
}

.users-manage .background-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  padding: 4px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3f3f7;
  border-radius: 8px;
}

.users-manage .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  padding: 6px 16px;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0000000d;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.95px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  padding: 6px 16px;
  flex: 0 0 auto;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .text-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.33px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #64748b;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39.28px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #64748b;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .text-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53.28px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #64748b;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .button-4 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  padding: 10px 24px;
  flex: 0 0 auto;
  border-radius: 8px;
  background: linear-gradient(
    174deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .button-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff01;
  border-radius: 8px;
  box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
}

.users-manage .container-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .icon-4 {
  position: relative;
  width: 16.5px;
  height: 12px;
}

.users-manage .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 147.22px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .header-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #e7e8eb;
}

.users-manage .cell {
  display: flex;
  flex-direction: column;
  width: 83.8px;
  align-items: flex-start;
  padding: 23px 24px;
  position: relative;
}

.users-manage .text-8 {
  position: relative;
  display: flex;
  align-items: center;
  width: 12.09px;
  height: 14px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: normal;
}

.users-manage .ng-i-d-ng-wrapper {
  width: 191.09px;
  align-items: flex-start;
  padding: 23px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.users-manage .ng-i-d-ng {
  position: relative;
  display: flex;
  align-items: center;
  width: 77.13px;
  height: 14px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: normal;
}

.users-manage .cell-2 {
  width: 119px;
  align-items: flex-start;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.users-manage .text-9 {
  position: relative;
  width: 51.53px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: normal;
}

.users-manage .cell-3 {
  width: 111.03px;
  align-items: flex-start;
  padding: 23px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.users-manage .text-10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 47.75px;
  height: 14px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: normal;
}

.users-manage .cell-4 {
  width: 209.17px;
  align-items: flex-start;
  padding: 23px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.users-manage .text-11 {
  position: relative;
  display: flex;
  align-items: center;
  width: 36.83px;
  height: 14px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: normal;
}

.users-manage .cell-5 {
  width: 117.86px;
  align-items: flex-start;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.users-manage .text-12 {
  position: relative;
  width: 41.8px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: normal;
}

.users-manage .cell-6 {
  width: 128.05px;
  align-items: flex-end;
  padding: 23px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.users-manage .text-13 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60.64px;
  height: 14px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #424654;
  font-size: 11px;
  text-align: right;
  letter-spacing: 0.55px;
  line-height: normal;
}

.users-manage .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0px 24px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .data {
  display: flex;
  flex-direction: column;
  width: 83.8px;
  align-items: flex-start;
  padding: 31.5px 24px 33px;
  position: relative;
}

.users-manage .text-14 {
  position: relative;
  display: flex;
  align-items: center;
  width: 32.83px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #94a3b8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .data-2 {
  display: flex;
  width: 143.09px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.users-manage .background-6 {
  display: flex;
  width: 27.2px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 7.5px 0px 8.5px;
  position: relative;
  background-color: #dbeafe;
  border-radius: 9999px;
}

.users-manage .text-15 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.06px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d4ed8;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .nguyen-van-hung {
  position: relative;
  width: 82.31px;
  height: 40px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.users-manage .text-16 {
  position: relative;
  display: flex;
  align-items: center;
  width: 67.86px;
  height: 12px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.users-manage .data-3 {
  display: flex;
  flex-direction: column;
  width: 119px;
  align-items: flex-start;
  padding: 31.5px 24px 33px;
  position: relative;
}

.users-manage .icon-5 {
  position: relative;
  width: 14px;
  height: 1.3px;
}

.users-manage .background-wrapper {
  display: flex;
  flex-direction: column;
  width: 87.03px;
  align-items: flex-start;
  padding: 32px 24px 32.5px 0px;
  position: relative;
}

.users-manage .background-7 {
  display: inline-flex;
  align-items: flex-start;
  padding: 4px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #eff6ff;
  border-radius: 9999px;
}

.users-manage .text-17 {
  position: relative;
  display: flex;
  align-items: center;
  width: 35.34px;
  height: 12px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d4ed8;
  font-size: 10px;
  letter-spacing: 0.25px;
  line-height: normal;
  white-space: nowrap;
}

.users-manage .data-4 {
  display: flex;
  flex-direction: column;
  width: 185.17px;
  align-items: flex-start;
  padding: 31.5px 24px 33px 0px;
  position: relative;
}

.users-manage .text-18 {
  position: relative;
  display: flex;
  align-items: center;
  width: 136.81px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .data-5 {
  display: flex;
  width: 69.86px;
  align-items: center;
  gap: 6px;
  position: relative;
}

.users-manage .background-8 {
  position: relative;
  width: 3.91px;
  height: 6px;
  background-color: #006a6a;
  border-radius: 9999px;
}

.users-manage .text-19 {
  position: relative;
  width: 59.56px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #006a6a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.users-manage .data-6 {
  position: relative;
  width: 104.05px;
  margin-top: -7128.75px;
  margin-left: -4167.05px;
  object-fit: cover;
}

.users-manage .row-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0px 24px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #f8fafc;
}

.users-manage .data-7 {
  display: flex;
  flex-direction: column;
  width: 83.8px;
  align-items: flex-start;
  padding: 32px 24px 33px;
  position: relative;
}

.users-manage .text-20 {
  position: relative;
  display: flex;
  align-items: center;
  width: 35.8px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #94a3b8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .background-9 {
  display: flex;
  width: 29.67px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 7.5px 0px 8.5px;
  position: relative;
  background-color: #ccfbf1;
  border-radius: 9999px;
}

.users-manage .text-21 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0f766e;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .tran-minh-manh {
  position: relative;
  width: 67.73px;
  height: 40px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.users-manage .text-22 {
  position: relative;
  display: flex;
  align-items: center;
  width: 80.91px;
  height: 12px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.users-manage .data-8 {
  display: flex;
  flex-direction: column;
  width: 119px;
  align-items: flex-start;
  padding: 32px 24px 33px;
  position: relative;
}

.users-manage .data-9 {
  display: flex;
  flex-direction: column;
  width: 87.03px;
  align-items: flex-start;
  padding: 32.5px 24px 32.5px 0px;
  position: relative;
}

.users-manage .background-10 {
  display: inline-flex;
  align-items: flex-start;
  padding: 4px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f0fdfa;
  border-radius: 9999px;
}

.users-manage .text-23 {
  position: relative;
  display: flex;
  align-items: center;
  width: 38.91px;
  height: 12px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0f766e;
  font-size: 10px;
  letter-spacing: 0.25px;
  line-height: normal;
  white-space: nowrap;
}

.users-manage .data-10 {
  display: flex;
  flex-direction: column;
  width: 185.17px;
  align-items: flex-start;
  padding: 32px 24px 33px 0px;
  position: relative;
}

.users-manage .text-24 {
  position: relative;
  display: flex;
  align-items: center;
  width: 161.17px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .data-11 {
  position: relative;
  width: 104.05px;
  margin-top: -7211.00px;
  margin-left: -4167.05px;
  object-fit: cover;
}

.users-manage .data-12 {
  display: flex;
  flex-direction: column;
  width: 83.8px;
  align-items: flex-start;
  padding: 28px 24px 29px;
  position: relative;
}

.users-manage .text-25 {
  position: relative;
  display: flex;
  align-items: center;
  width: 32.2px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #94a3b8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .background-11 {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 7.5px 0px 8.5px;
  position: relative;
  background-color: #f1f5f9;
  border-radius: 9999px;
}

.users-manage .text-26 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.52px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #334155;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .text-27 {
  position: relative;
  display: flex;
  align-items: center;
  width: 98.13px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .text-28 {
  position: relative;
  display: flex;
  align-items: center;
  width: 62.17px;
  height: 12px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.users-manage .data-13 {
  display: flex;
  flex-direction: column;
  width: 119px;
  align-items: flex-start;
  padding: 28px 24px 29px;
  position: relative;
}

.users-manage .text-29 {
  position: relative;
  display: flex;
  align-items: center;
  width: 59.91px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .paragraph-background-wrapper {
  display: flex;
  flex-direction: column;
  width: 87.03px;
  align-items: flex-start;
  padding: 22.5px 24px 22.5px 0px;
  position: relative;
}

.users-manage .paragraph-background {
  position: relative;
  width: 35.33px;
  height: 32px;
  background-color: #f1f5f9;
  border-radius: 9999px;
}

.users-manage .text-30 {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 25px;
  height: 12px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #475569;
  font-size: 10px;
  letter-spacing: 0.25px;
  line-height: normal;
  white-space: nowrap;
}

.users-manage .text-31 {
  position: absolute;
  top: 16px;
  left: 0;
  width: 25px;
  height: 12px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #475569;
  font-size: 10px;
  letter-spacing: 0.25px;
  line-height: normal;
  white-space: nowrap;
}

.users-manage .data-14 {
  display: flex;
  flex-direction: column;
  width: 185.17px;
  align-items: flex-start;
  padding: 28px 24px 29px 0px;
  position: relative;
}

.users-manage .text-32 {
  position: relative;
  display: flex;
  align-items: center;
  width: 145.63px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #475569;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .background-12 {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.users-manage .text-33 {
  position: relative;
  display: flex;
  align-items: center;
  width: 47.44px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #94a3b8;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .data-15 {
  position: relative;
  width: 104.05px;
  margin-top: -7300.00px;
  margin-left: -4167.05px;
  object-fit: cover;
}

.users-manage .pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f3f7;
}

.users-manage .p {
  position: relative;
  display: flex;
  align-items: center;
  width: 266.53px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #64748b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .container-9 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .button-5 {
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  flex: 0 0 auto;
  opacity: 0.3;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .icon-6 {
  position: relative;
  width: 6.17px;
  height: 10px;
}

.users-manage .button-6 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
  padding: 7.5px 0px 8.5px;
  background-color: #0040a1;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0000000d;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .text-34 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.08px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .button-7 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
  padding: 7.5px 0px 8.5px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .text-35 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.48px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #475569;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .text-36 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.64px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #475569;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .container-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .text-37 {
  position: relative;
  display: flex;
  align-items: center;
  width: 13.83px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #94a3b8;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.users-manage .text-38 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.05px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #475569;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .button-8 {
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .contextual-help {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 220.25px;
  height: fit-content;
  gap: 24px;
}

.users-manage .background-13 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 50.63px 24px 50.62px;
  background-color: #e7e8eb;
  border-radius: 16px;
}

.users-manage .div-3 {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .background-shadow {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #0000000d;
}

.users-manage .icon-7 {
  position: relative;
  width: 22px;
  height: 16px;
}

.users-manage .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  width: 106.17px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .text-39 {
  position: relative;
  display: flex;
  align-items: center;
  width: 97.06px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.users-manage .background-14 {
  display: flex;
  flex-direction: column;
  height: 6px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #e2e8f0;
  border-radius: 9999px;
  overflow: hidden;
}

.users-manage .background-15 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #006a6a;
}

.users-manage .d-li-u-ng-i-d-ng-ang {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #475569;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16.5px;
}

.users-manage .background-shadow-2 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  width: 100%;
  height: 220.25px;
  display: flex;
  align-items: center;
  padding: 32px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 8px 10px -6px #0000001a, 0px 20px 25px -5px #0000001a;
  background: linear-gradient(
    90deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
}

.users-manage .container-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: -40px;
  bottom: -40px;
  opacity: 0.1;
}

.users-manage .icon-8 {
  position: relative;
  width: 66.67px;
  height: 93.33px;
}

.users-manage .container-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.8px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .text-wrapper-12 {
  position: relative;
  display: flex;
  align-items: center;
  width: 277.19px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.users-manage .h-th-ng-v-a-c-p-nh-t-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  align-items: flex-start;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .h-th-ng-v-a-c-p-nh-t {
  position: relative;
  width: 429.09px;
  height: 69px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffcc;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.8px;
}

.users-manage .xem-h-ng-d-n-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  padding: 9.2px 24px 8px;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .xem-h-ng-d-n {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112.47px;
  height: 16px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0040a1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.60px;
  line-height: 16px;
  white-space: nowrap;
}

.users-manage .aside-sidenavbar {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 1104px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8fafc;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #f1f5f9;
}

.users-manage .container-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.users-manage .brand-identity {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .background-16 {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  background: linear-gradient(
    145deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
}

.users-manage .overlay-shadow {
  position: absolute;
  top: calc(50.00% - 20px);
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff01;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
}

.users-manage .icon-9 {
  position: relative;
  width: 13px;
  height: 18px;
}

.users-manage .text-wrapper-13 {
  position: relative;
  display: flex;
  align-items: center;
  width: 93.17px;
  height: 28px;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1e40af;
  font-size: 18px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.users-manage .text-40 {
  position: relative;
  display: flex;
  align-items: center;
  width: 145.83px;
  height: 15px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #64748b;
  font-size: 10px;
  letter-spacing: 2.00px;
  line-height: 15px;
  white-space: nowrap;
}

.users-manage .main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.users-manage .link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
}

.users-manage .icon-10 {
  position: relative;
  width: 18px;
  height: 18px;
}

.users-manage .text-41 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100.3px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 16px;
  letter-spacing: 0.80px;
  line-height: 24px;
  white-space: nowrap;
}

.users-manage .link-2 {
  padding: 12px 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #0000000d;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .container-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20.62px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .text-42 {
  position: relative;
  width: 118.36px;
  height: 48px;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d4ed8;
  font-size: 16px;
  letter-spacing: 0.80px;
  line-height: 24px;
}

.users-manage .container-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 34.09px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .text-43 {
  position: relative;
  width: 104.89px;
  height: 48px;
  margin-top: -1.00px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 16px;
  letter-spacing: 0.80px;
  line-height: 24px;
}

.users-manage .icon-11 {
  position: relative;
  width: 18px;
  height: 20px;
}

.users-manage .container-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 22.52px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.users-manage .text-44 {
  position: relative;
  width: 116.46px;
  height: 48px;
  margin-top: -1.00px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 16px;
  letter-spacing: 0.80px;
  line-height: 24px;
}

.users-manage .text-45 {
  position: relative;
  display: flex;
  align-items: center;
  width: 127.55px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 16px;
  letter-spacing: 0.80px;
  line-height: 24px;
  white-space: nowrap;
}

.users-manage .text-46 {
  position: relative;
  display: flex;
  align-items: center;
  width: 75.55px;
  height: 24px;
  margin-top: -1.00px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 16px;
  letter-spacing: 0.80px;
  line-height: 24px;
  white-space: nowrap;
}

.users-manage .CTA-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #f1f5f9;
}

.users-manage .button-9 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  gap: 7.99px;
  padding: 12px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  background: linear-gradient(
    174deg,
    rgba(0, 64, 161, 1) 0%,
    rgba(0, 86, 210, 1) 100%
  );
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .icon-12 {
  position: relative;
  width: 12.83px;
  height: 9.33px;
}

.users-manage .text-47 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106.05px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .container-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .link-3 {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.users-manage .icon-13 {
  position: relative;
  width: 17px;
  height: 20px;
}

.users-manage .text-48 {
  position: relative;
  display: flex;
  align-items: center;
  width: 52.88px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .text-49 {
  position: relative;
  display: flex;
  align-items: center;
  width: 46.16px;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #64748b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.users-manage .floating-action {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.users-manage .button-10 {
  display: flex;
  width: 56px;
  height: 56px;
  background-color: #0040a1;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: 0px 25px 50px -12px #00000040;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users-manage .icon-14 {
  position: relative;
  width: 20.1px;
  height: 20px;
}
