<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/css/global-self-history.css" />
  <link rel="stylesheet" href="../static/css/self-history.css" />
</head>

<body>
  <div class="self-history">
    <div class="main-content-area">
      <div class="header-topnavbar">
        <div class="container">
          <div class="div">
            <div class="input">
              <div class="div-wrapper">
                <div class="text-wrapper">Tìm kiếm giao dịch...</div>
              </div>
            </div>
            <div class="icon-wrapper"><img class="icon" src="img/icon-8.svg" /></div>
          </div>
        </div>
        <img class="img" src="img/container.svg" />
      </div>
      <div class="canvas">
        <header class="header">
          <div class="div-2">
            <div class="text-wrapper-2">Lịch sử gửi xe</div>
          </div>
          <div class="div-2">
            <p class="p">Theo dõi và quản lý lịch sử ra vào bãi xe của bạn.</p>
          </div>
        </header>
        <div class="summary-bento">
          <div class="background-border">
            <div class="container-2">
              <div class="div-2">
                <div class="s-l-t-g-i">SỐ LƯỢT GỬI</div>
              </div>
              <div class="div-2">
                <div class="text-wrapper-3">28</div>
              </div>
            </div>
            <div class="margin">
              <div class="container-3">
                <div class="background">
                  <div class="background-2"></div>
                </div>
                <div class="div-2">
                  <p class="text-wrapper-4">Hạn mức tháng: 40 lượt</p>
                </div>
              </div>
            </div>
          </div>
          <div class="background-shadow">
            <div class="decorative"></div>
            <div class="container-4">
              <div class="container-5">
                <div class="container-6">
                  <p class="text">TỔNG CHI TIÊU THÁNG NÀY</p>
                </div>
                <div class="heading">
                  <div class="text-wrapper-5">450000</div>
                  <div class="text-2">VND</div>
                </div>
              </div>
              <div class="overlay-overlayblur"><img class="icon-2" src="img/image.svg" /></div>
            </div>
            <div class="overlay-wrapper">
              <div class="overlay">
                <div class="div-3"><img class="icon-3" src="img/icon-10.svg" /></div>
                <p class="text-3">+12% so với tháng trước</p>
              </div>
            </div>
          </div>
        </div>
        <div class="main-data-table">
          <div class="overlay-2">
            <div class="div-3">
              <div class="text-4">Danh sách chi tiết</div>
            </div>
            <div class="container-7">
              <button class="button">
                <div class="img-wrapper"><img class="icon-4" src="img/icon.svg" /></div>
                <div class="text-5">Lọc</div>
              </button>
              <button class="button-2">
                <div class="img-wrapper"><img class="icon-5" src="img/icon-4.svg" /></div>
                <div class="text-6">Xuất báo cáo</div>
              </button>
            </div>
          </div>
          <div class="div-2">
            <div class="header-row">
              <div class="cell">
                <div class="text-7">BIỂN SỐ</div>
              </div>
              <div class="th-i-gian-v-o-wrapper">
                <div class="th-i-gian-v-o">THỜI GIAN VÀO</div>
              </div>
              <div class="cell-2">
                <div class="text-8">THỜI GIAN RA</div>
              </div>
              <div class="th-i-l-ng-wrapper">
                <div class="th-i-l-ng">THỜI LƯỢNG</div>
              </div>
              <div class="ph-d-ch-v-wrapper">
                <div class="ph-d-ch-v">PHÍ DỊCH VỤ</div>
              </div>
              <div class="tr-ng-th-i-wrapper">
                <div class="tr-ng-th-i">TRẠNG THÁI</div>
              </div>
            </div>
            <div class="div-2">
              <div class="row-active">
                <div class="data">
                  <div class="background-3">
                    <div class="text-9">29A-123.45</div>
                  </div>
                </div>
                <div class="data-2">
                  <div class="div-2">
                    <div class="text-wrapper-6">10:15, 24 Th10</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-7">Khu vực A2</div>
                  </div>
                </div>
                <div class="data-3">
                  <div class="text-wrapper-8">Chưa xác định</div>
                </div>
                <div class="data-4">
                  <div class="text-10">3 giờ 45 phút</div>
                </div>
                <div class="data-5">
                  <div class="text-wrapper-9">Đang tính...</div>
                </div>
                <div class="background-wrapper">
                  <div class="background-4">
                    <div class="background-5"></div>
                    <div class="text-wrapper-10">Đang đỗ</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="data-6">
                  <div class="background-3">
                    <div class="text-9">29A-123.45</div>
                  </div>
                </div>
                <div class="data-7">
                  <div class="div-2">
                    <div class="text-wrapper-6">07:30, 23 Th10</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-7">Khu vực B1</div>
                  </div>
                </div>
                <div class="data-8">
                  <div class="text-11">17:45, 23 Th10</div>
                </div>
                <div class="data-9">
                  <div class="text-12">10 giờ 15 phút</div>
                </div>
                <div class="data-5">
                  <div class="text-13">15.000 VND</div>
                </div>
                <div class="data-10">
                  <div class="background-6">
                    <div class="text-wrapper-11">Đã hoàn tất</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="data-6">
                  <div class="background-3">
                    <div class="text-14">30E-999.88</div>
                  </div>
                </div>
                <div class="data-7">
                  <div class="div-2">
                    <div class="text-wrapper-6">13:20, 22 Th10</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-7">Khu vực C4</div>
                  </div>
                </div>
                <div class="data-8">
                  <div class="text-15">15:50, 22 Th10</div>
                </div>
                <div class="data-9">
                  <div class="text-16">2 giờ 30 phút</div>
                </div>
                <div class="data-5">
                  <div class="text-wrapper-12">5.000 VND</div>
                </div>
                <div class="data-10">
                  <div class="background-6">
                    <div class="text-wrapper-11">Đã hoàn tất</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="data-11">
                  <div class="background-3">
                    <div class="text-9">29A-123.45</div>
                  </div>
                </div>
                <div class="data-2">
                  <div class="div-2">
                    <div class="text-wrapper-6">08:00, 22 Th10</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-7">Khu vực B1</div>
                  </div>
                </div>
                <div class="data-8">
                  <div class="text-17">12:00, 22 Th10</div>
                </div>
                <div class="data-9">
                  <div class="text-18">4 giờ 00 phút</div>
                </div>
                <div class="data-5">
                  <div class="text-wrapper-12">5.000 VND</div>
                </div>
                <div class="data-12">
                  <div class="background-6">
                    <div class="text-wrapper-11">Đã hoàn tất</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay-3">
            <div class="div-3">
              <p class="text-19">Hiển thị 1-4 trên tổng số 28 giao dịch</p>
            </div>
            <div class="container-8">
              <div class="container-wrapper">
                <div class="img-wrapper"><img class="icon-6" src="img/icon-5.svg" /></div>
              </div>
              <button class="button-3">
                <div class="text-20">1</div>
              </button>
              <button class="button-4">
                <div class="text-21">2</div>
              </button>
              <button class="button-4">
                <div class="text-22">3</div>
              </button>
              <div class="container-wrapper">
                <div class="img-wrapper"><img class="icon-6" src="img/icon-3.svg" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aside-sidenavbar">
      <div class="container-9">
        <div class="div-2">
          <div class="text-wrapper-13">NEU Parking</div>
        </div>
        <div class="div-2">
          <div class="student-portal">STUDENT PORTAL</div>
        </div>
      </div>
      <div class="nav">
        <div class="link">
          <div class="div-3"><img class="icon-7" src="img/icon-7.svg" /></div>
          <div class="div-3">
            <div class="text-23">Trang chủ</div>
          </div>
        </div>
        <div class="link">
          <div class="div-3"><img class="icon-8" src="img/icon-9.svg" /></div>
          <div class="div-3">
            <div class="text-24">Xe của tôi</div>
          </div>
        </div>
        <div class="link-css-transform">
          <div class="link-2">
            <div class="div-3"><img class="icon-9" src="img/icon-6.svg" /></div>
            <div class="div-3">
              <div class="text-wrapper-14">Lịch sử gửi xe</div>
            </div>
          </div>
        </div>
        <div class="link">
          <div class="div-3"><img class="icon-10" src="img/icon-2.svg" /></div>
          <div class="div-3">
            <div class="text-wrapper-15">Đăng ký xe mới</div>
          </div>
        </div>
      </div>
      <div class="container-10">
        <div class="background-7">
          <div class="student-profile"></div>
          <div class="div-3">
            <div class="div-2">
              <div class="text-wrapper-16">Nguyễn Văn A</div>
            </div>
            <div class="div-2">
              <div class="text-25">MSSV: 11210001</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>