<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="vehicles">
      <div class="background">
        <div class="SVG"><img class="vector" src="img/vector-4.svg" /> <img class="img" src="img/vector-3.svg" /></div>
      </div>
      <div class="main-content">
        <div class="header-topnavbar">
          <div class="container">
            <div class="div">
              <div class="input">
                <div class="div-wrapper"><p class="text-wrapper">Tìm kiếm biển số xe...</p></div>
              </div>
              <div class="icon-wrapper"><img class="icon" src="img/icon-9.svg" /></div>
            </div>
          </div>
          <img class="container-2" src="img/container.svg" />
        </div>
        <div class="section-content">
          <div class="page-header-action">
            <div class="container-3">
              <div class="div-2"><div class="text-wrapper-2">Quản lý Phương tiện</div></div>
              <div class="div-2"><p class="text">Hệ thống quản lý xe ra vào Đại học Kinh tế Quốc dân (NEU).</p></div>
            </div>
            <button class="button">
              <div class="button-shadow"></div>
              <div class="img-wrapper"><img class="icon-2" src="img/icon-5.svg" /></div>
              <div class="text-2">Thêm xe mới</div>
            </button>
          </div>
          <div class="bento-grid">
            <div class="background-2">
              <div class="div-2"><div class="text-wrapper-3">TỔNG PHƯƠNG TIỆN</div></div>
              <div class="container-4">
                <div class="div-3"><div class="text-3">1,284</div></div>
                <div class="margin"><div class="text-4">+12%</div></div>
              </div>
            </div>
            <div class="background-3">
              <div class="div-2"><div class="text-wrapper-3">ĐANG TRONG BÃI</div></div>
              <div class="container-4">
                <div class="div-3"><div class="text-5">432</div></div>
                <div class="margin"><div class="text-6">33%</div></div>
              </div>
            </div>
            <div class="background-4">
              <div class="div-2"><div class="text-wrapper-3">ĐANG CHỜ DUYỆT</div></div>
              <div class="container-4">
                <div class="div-3"><div class="text-7">18</div></div>
                <div class="margin"><div class="text-8">Cần xử lý</div></div>
              </div>
            </div>
            <div class="background-5">
              <div class="div-2"><div class="text-wrapper-3">VI PHẠM HÔM NAY</div></div>
              <div class="container-4">
                <div class="div-3"><div class="text-9">03</div></div>
                <div class="margin"><img class="icon-3" src="img/icon-16.svg" /></div>
              </div>
            </div>
          </div>
          <div class="filters-section">
            <div class="background-shadow">
              <div class="div-3"><img class="icon-4" src="img/icon.svg" /></div>
              <div class="div-3"><div class="text-10">Tất cả xe</div></div>
            </div>
            <div class="container-5">
              <div class="div-3"><img class="icon-5" src="img/icon-13.svg" /></div>
              <div class="div-3"><div class="text-11">Ô tô</div></div>
            </div>
            <div class="container-5">
              <div class="div-3"><img class="icon-6" src="img/image.svg" /></div>
              <div class="div-3"><div class="text-12">Xe máy</div></div>
            </div>
            <div class="container-5">
              <div class="div-3"><img class="icon-7" src="img/icon-11.svg" /></div>
              <div class="div-3"><div class="text-13">Xe điện</div></div>
            </div>
            <div class="vertical-divider-wrapper"><div class="vertical-divider"></div></div>
            <div class="container-5">
              <div class="div-3"><div class="text-14">Loại xe:</div></div>
              <div class="options">
                <div class="image-fill">
                  <div class="vector-wrapper"><img class="vector-2" src="img/vector.svg" /></div>
                </div>
                <div class="container-6"><div class="text-15">Tất cả</div></div>
              </div>
            </div>
          </div>
          <div class="vehicle-table">
            <div class="table-wrapper">
              <div class="table">
                <header class="header">
                  <div class="row">
                    <div class="cell"><div class="text-16">ID</div></div>
                    <div class="cell-2"><div class="text-17">BIỂN SỐ</div></div>
                    <div class="cell-3">
                      <div class="text-18">MÃ SINH<br />VIÊN</div>
                    </div>
                    <div class="text-wrapper-4">
                      <div class="text-19">TÊN CHỦ<br />XE</div>
                    </div>
                    <div class="cell-4">
                      <div class="text-20">LOẠI<br />XE</div>
                    </div>
                    <div class="cell-5">
                      <div class="text-21">HÃNG<br />XE</div>
                    </div>
                    <div class="cell-6">
                      <div class="text-22">MÀU<br />XE</div>
                    </div>
                    <div class="cell-7"><div class="text-23">TRẠNG THÁI</div></div>
                    <div class="cell-8"><div class="text-24">THAO TÁC</div></div>
                  </div>
                </header>
                <div class="div-2">
                  <div class="row-2">
                    <div class="data">
                      <div class="text-25">#VH-<br />9021</div>
                    </div>
                    <div class="paragraph-background-wrapper">
                      <div class="paragraph-background">
                        <div class="text-26">29A-</div>
                        <div class="text-27">123.45</div>
                      </div>
                    </div>
                    <div class="data-2"><div class="text-28">11210045</div></div>
                    <div class="text-wrapper-4">
                      <div class="text-29">Nguyễn<br />Văn<br />Khải</div>
                    </div>
                    <div class="data-3"><div class="text-30">Ô tô</div></div>
                    <div class="data-4"><div class="text-31">Toyota</div></div>
                    <div class="data-5"><div class="text-32">Trắng</div></div>
                    <div class="overlay-wrapper">
                      <div class="overlay">
                        <div class="background-6"></div>
                        <div class="text-33">Đang trong bãi</div>
                      </div>
                    </div>
                    <img class="data-6" src="img/data.svg" />
                  </div>
                  <div class="row-3">
                    <div class="data-7">
                      <div class="text-25">#VH-<br />9022</div>
                    </div>
                    <div class="data-8">
                      <div class="paragraph-background-2">
                        <div class="text-34">30H-</div>
                        <div class="text-35">888.88</div>
                      </div>
                    </div>
                    <div class="data-9"><div class="text-36">11215678</div></div>
                    <div class="data-10">
                      <div class="text-37">Trần<br />Minh<br />Anh</div>
                    </div>
                    <div class="data-11">
                      <div class="text-38">Xe<br />máy</div>
                    </div>
                    <div class="data-12"><div class="text-39">Honda</div></div>
                    <div class="data-13">
                      <div class="text-40">Đỏ<br />đen</div>
                    </div>
                    <div class="data-14">
                      <div class="overlay-2">
                        <div class="background-7"></div>
                        <div class="text-41">Đang chờ duyệt</div>
                      </div>
                    </div>
                    <img class="data-15" src="img/data-3.svg" />
                  </div>
                  <div class="row-3">
                    <div class="data-16">
                      <div class="text-25">#VH-<br />9023</div>
                    </div>
                    <div class="data-17">
                      <div class="paragraph-background-3">
                        <div class="text-42">29L-</div>
                        <div class="text-43">456.78</div>
                      </div>
                    </div>
                    <div class="data-18"><div class="text-44">11210921</div></div>
                    <div class="text-wrapper-4">
                      <div class="text-45">Lê<br />Quang<br />Hải</div>
                    </div>
                    <div class="data-19">
                      <div class="text-46">Xe<br />điện</div>
                    </div>
                    <div class="data-20"><div class="text-47">VinFast</div></div>
                    <div class="data-21">
                      <div class="text-48">Xanh<br />dương</div>
                    </div>
                    <div class="data-22">
                      <div class="overlay-3">
                        <div class="background-8"></div>
                        <div class="text-49">Đã rời bãi</div>
                      </div>
                    </div>
                    <img class="data-23" src="img/data-2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination">
              <div class="div-3"><p class="p">Hiển thị 10 trên 1,284 kết quả</p></div>
              <div class="container-7">
                <div class="container-wrapper">
                  <div class="img-wrapper"><img class="icon-8" src="img/icon-2.svg" /></div>
                </div>
                <button class="button-2">
                  <div class="button-shadow-2"></div>
                  <div class="text-50">1</div>
                </button>
                <button class="button-3"><div class="text-51">2</div></button>
                <button class="button-3"><div class="text-52">3</div></button>
                <div class="container-wrapper">
                  <div class="img-wrapper"><img class="icon-8" src="img/icon-8.svg" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="aside-sidenavbar">
        <div class="container-8">
          <div class="container-9">
            <div class="container-10">
              <div class="background-9">
                <div class="div-3"><img class="icon-9" src="img/icon-17.svg" /></div>
              </div>
              <div class="div-3">
                <div class="div-2"><div class="text-53">NEU Parking</div></div>
                <div class="div-2"><p class="text-54">ĐH Kinh tế Quốc dân</p></div>
              </div>
            </div>
          </div>
          <div class="nav-margin">
            <div class="nav">
              <div class="link">
                <div class="div-3"><img class="icon-10" src="img/icon-15.svg" /></div>
                <div class="div-3"><div class="text-55">Dashboard</div></div>
              </div>
              <div class="link-2">
                <div class="div-3"><img class="icon-11" src="img/icon-14.svg" /></div>
                <div class="div-3"><div class="text-56">Phương tiệ</div></div>
              </div>
              <div class="link">
                <div class="div-3"><img class="icon-10" src="img/icon-12.svg" /></div>
                <div class="div-3"><div class="text-57">Vào cổng</div></div>
              </div>
              <div class="link-3">
                <div class="div-3"><img class="icon-10" src="img/icon-10.svg" /></div>
                <div class="div-3"><div class="text-58">Ra cổng</div></div>
              </div>
              <div class="link-3">
                <div class="div-3"><img class="icon-10" src="img/icon-7.svg" /></div>
                <div class="div-3"><div class="text-59">Lịch sử</div></div>
              </div>
              <div class="link-3">
                <div class="div-3"><img class="icon-12" src="img/icon-6.svg" /></div>
                <div class="div-3"><div class="text-60">Người dùng</div></div>
              </div>
            </div>
          </div>
          <div class="horizontal-border">
            <div class="background-10">
              <div class="admin-portrait"></div>
              <div class="div-3">
                <div class="div-2"><div class="text-61">Admin NEU</div></div>
                <div class="div-2"><div class="text-62">Quản trị viên</div></div>
              </div>
              <div class="margin-2">
                <div class="div-3"><img class="icon-13" src="img/icon-4.svg" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-thm-sa-phng">
        <div class="background-shadow-2">
          <div class="background-11">
            <div class="div-3"><div class="text-wrapper-5">Thông tin phương tiện</div></div>
            <div class="button-4">
              <div class="img-wrapper"><img class="icon-14" src="img/icon-18.svg" /></div>
            </div>
          </div>
          <div class="form-wrapper">
            <div class="form">
              <div class="container-11">
                <div class="label"><div class="text-wrapper-6">BIỂN SỐ XE</div></div>
                <div class="input-2">
                  <div class="div-2"><div class="text-wrapper-7">Ví dụ: 29A-123.45</div></div>
                </div>
              </div>
              <div class="container-12">
                <div class="label"><div class="text-wrapper-6">MÃ SINH VIÊN</div></div>
                <div class="input-2">
                  <div class="div-2"><div class="text-wrapper">Nhập mã sinh viên</div></div>
                </div>
              </div>
              <div class="container-13">
                <div class="label"><div class="text-wrapper-6">HỌ TÊN CHỦ XE</div></div>
                <div class="input-2">
                  <div class="div-2"><p class="text-wrapper">Nhập họ và tên chủ xe</p></div>
                </div>
              </div>
              <div class="container-14">
                <div class="label"><div class="text-wrapper-6">LOẠI XE</div></div>
                <div class="options-2">
                  <div class="SVG-wrapper">
                    <div class="SVG-2"><img class="vector-3" src="img/vector-2.svg" /></div>
                  </div>
                  <div class="container-15"><div class="text-63">Ô tô</div></div>
                </div>
              </div>
              <div class="container-16">
                <div class="label"><div class="text-wrapper-6">HÃNG XE</div></div>
                <div class="input-2">
                  <div class="div-2"><div class="text-wrapper">Toyota, Honda, VinFast...</div></div>
                </div>
              </div>
              <div class="container-17">
                <div class="label"><div class="text-wrapper-6">MÀU XE</div></div>
                <div class="input-2">
                  <div class="div-2"><p class="text-wrapper">Ví dụ: Đen, Trắng, Đỏ...</p></div>
                </div>
              </div>
              <div class="image-upload">
                <div class="label"><div class="text-wrapper-6">ẢNH XE</div></div>
                <div class="background-border">
                  <div class="background-12">
                    <div class="div-3"><img class="icon-15" src="img/icon-3.svg" /></div>
                  </div>
                  <div class="div-3">
                    <div class="container-18"><p class="text-64">Click để tải lên ảnh xe</p></div>
                    <div class="container-18"><p class="text-65">Định dạng PNG, JPG tối đa 5MB.</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="background-13">
            <button class="button-5"><div class="text-66">Hủy bỏ</div></button>
            <button class="button-6">
              <div class="button-shadow-3"></div>
              <div class="text-67">Lưu thông tin</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
