<div class="indexhtml-thq-nav-top-app-bar-elm">
  <div class="indexhtml-thq-container-elm58">

    <div class="indexhtml-thq-container-elm59">
      <span>NEU Smart Parking</span>
    </div>

    <div class="indexhtml-thq-container-elm60">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="#">About</a>
      <a href="#">Pricing</a>
      <a href="#">Contact</a>
    </div>

    <div class="indexhtml-thq-container-elm61">
      <a href="{{ url_for('login') }}">
        <button>Login</button>
      </a>
      <a href="{{ url_for('register') }}">
        <button>Đăng ký</button>
      </a>
    </div>

  </div>
</div>